@import 'buttons';
@import 'onboarding';
@import 'visualDebug';

div[role="banner"] {
    background-color: green !important;
}

#fbtrex--root {
    position: fixed;
    bottom: -1px;
    left: 32px;
    display: block;
    width: 128px;
    height: 128px;
}
