.fbtrex--main-button {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    line-height: 128px;
    font-size: 1em;
    text-align: center;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.fbtrex--main-button:hover {
    text-decoration: none;
    opacity: 1;
}
