.fbtrex--onboarding {
    font-size: 120%;
    margin: 20px 0;
    padding: 12px;
    background-color: white;

    h1 {
        font-size: 26px;
        color: green;
    }

    .fbtrex--copypaste {
        border: 1px solid #ccc;
        padding: 12px;
        background-color: #fafafa;
        font-family: monospace;
        width: 66%;
    }
}
