doctype html
html
    head
        link(rel='stylesheet', href='/css/c3.css')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')

        script(type='text/javascript', src='/js/lodash.min.js')
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/d3.min.js')
        script(type='text/javascript', src='/js/c3.min.js')
        script(type='text/javascript', src='/js/moment.min.js')
        script(type='text/javascript', src='/js/local/aggregated.js')

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="facebook tracking exposed")
        meta(property="og:title" content="facebook.tracking.exposed")
        meta(property="og:type" content="website")
        meta(property="og:description" content="facebook.tracking.exposed Open Statistics. why keep them secret? If we share our stats we might reduce the monopoly of google-analytics")
        meta(property="og:url" content="https://facebook.tracking.exposed")
        meta(property="og:image" content="https://facebook.tracking.exposed/images/fbtrex_logo-400x400.png")
        meta(property="og:image:width" content="400")
        meta(property="og:image:height" content="400")
        title Adoption trends, metadata extraction and open statistics

    body(onload="loadImpact()")

        .container-fluid
            include ../navbar

        .container-fluid
            h2 usage trackers
                span#funky we build a technology to observe Facebook and algorithm phenomenon: we do not track people
            p This is also the reason why the data collected are not fully accessible, but protected to preserve digital rights, human rights, and in general don't support abusive scenario such as the 
                a(href="https://responsibledata.io/social-media-intelligence-the-wayward-child-of-open-source-intelligence/") social media intelligence
                |.
            p The inception of fbTREX was in Summer 2016; Since the mid of December 2016 we are in R&D-release, the tool have been used to produce research papers and test functionalities for individual; Since January 2019, after the publication of the project status, we entered in ß version.

        .container-fluid
            h2 data activities 
            .row
                table
                    thead
                        tr 
                            th.col-sm-1 ✍
                            th.col-sm-1 supporters
                            th.col-sm-1 timelines
                            th.col-sm-1 impressions
                            th.col-sm-1 htmls
                            th.col-sm-1 accesses
                            th.col-sm-1 summaries
                            th.col-sm-1 aggregated
                    tbody
                        tr 
                            th.col-sm-1 total
                            th.col-sm-1
                                span#supporters
                            th.col-sm-1
                                span#timelines
                            th.col-sm-1
                                span#impressions
                            th.col-sm-1
                                span#htmls
                            th.col-sm-1
                                span#accesses
                            th.col-sm-1
                                span#summaries
                            th.col-sm-1
                                span#aggregated
                    tfoot
                        tr 
                            th.col-sm-1 last week
                            th.col-sm-1
                                span#supporters_lw
                            th.col-sm-1
                                span#timelines_lw
                            th.col-sm-1
                                span#impressions_lw
                            th.col-sm-1
                                span#htmls_lw
                            th.col-sm-1
                                span#accesses_lw
                            th.col-sm-1
                                span#summaries_lw
                            th.col-sm-1
                                span#aggregated_lw

        //-
            .container-fluid
                .simpletext
                    h2 Supporters, Page views
                div(id="users")

                .simpletext
                    h2 Views by Country
                div(id="viewscountries")

                .simpletext
                    h2 Timelines by Country
                div(id="contribcountries")

                .simpletext
                    h2 Impressions collected
                div(id="goldmine")

                .simpletext
                    h2 Metadata available
                    p The analysis is made by the parser, 
                        a(href="https://github.com/tracking-exposed/facebook/issues/44") try to see how they works
                div(id="metadata")

                .simpletext
                    h2 How much an user keep using the extension?
                div(id="engagement")
        //-

