doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    title facebook tracking exposed: initiatives, experiments, and talks

  body

    include ../header
    include ../navbar 

    .container
      h3 Upcoming initiatives
      ul.fb--icon-list
        li
          a(href="https://www.rightscon.org") RightsCon 2017
          |, Demo Room
        li
          a(href="http://www.journalismfestival.com/programme/2017/exposing-what-facebook-wants-you-to-see") International Journalism Festival
          |, 8 April, Perugia.

    .container
      h3 Experiments done
      ul.fb--icon-list
        li
          a(href="/NetherlandsElections") The Netherlands elections call
          |, and this 
          a(href="https://www.oneworld.nl/deze-tool-checkt-facebook-echt-de-verkiezingen-beinvloedt" target="_blank") OneWorld
          |'s call for action
        li
          a(href="/beta") beta
          |  updates, for supporters and technologiest

    .container
      h3 Running experiments
      ul.fb--icon-list
        li Project's 
          a(href="/impact") Open statistics
      ul.fb--icon-list
        li 
          a(href="/realitymeter") RealityMeter
          |, check which post get more evidences

    .container
      h3 Presentations
      table.table.table-striped
        thead
          tr
            th When
            th Where
            th Event & Slides
            th Video
            th Language
        tbody
           tr
            td 29 March '17
            td RightsCon, Demo Room, Day 1. Brussels
            td 
              a(href="/talks-rightscon17/") RightsCon '17
            td 
            td English
        tbody
           tr
            td 23rd February '17
            td Toolbox Coworking, Turin
            td 
              a(href="/talks-torinohacknight/") Torino Hack Night
            td 
            td Italian
          tr
            td 2nd December '16
            td cantiere, Milan
            td 
              a(href="/talks-cyberresistance/") Cyber*Resistance
            td 
            td Italian
          tr
            td 1st November '16
            td c-base, Berlin
            td 
              a(href="/talks-netzpolitischer054/") Netzpolitischer Abend 54
            td
              a(href="https://vimeo.com/189842857") https://vimeo.com/189842857
            td English
          tr
            td 25th October '16
            td c-base, Berlin
            td
              a(href="https://docs.google.com/presentation/d/e/2PACX-1vR1Tz-G2fm9Nu0oe8lrAoG8aYCamT2kpZAn98B-AHP-ZNli88A4u5hOKrp-UMBDP4Iq2NP3Bl3xY0C5/pub?start=false&loop=false&slide=id.p") Hack'n'Tell
            td
              a(href="https://twitter.com/_vecna/status/791002928211431424") evidences ;)
            td English
          tr
            td 19th October '16
            td Berlin
            td
              a(href="https://docs.google.com/presentation/d/1uDd2oNxWSOJPfm-Jrm0k-4SBS2BNAomfhF6Ef_609So/edit#slide=id.p") PyData
            td
            td English

    div.footer 
