doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/local/suggest.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    title facebook tracking exposed: presentations, initiatives

  body

    include ../header
    include ../navbar 

    .container
      h2 Initiatives
      ul.fb--icon-list
        li
            a(href="https://events.ccc.de/congress/2016/wiki/Main_Page") CCC
            |  ⚡ lightining ⚡ talk is coming!
        li Developer? 
            b #extension #javascript
            |, a 
            a(href="https://github.com/tracking-exposed/web-extension/issues/15") simple issue
            |  waits for you
        li We've a (no irony, really) 
            a(href="https://www.facebook.com/personalizationalgorithm") Facebook page
            |  for coordination and updates. If you want to do some experiments on personalisation algorithm, join us.

    .container
      h2 Presentations
      table.table.table-striped
        thead
          tr
            th When
            th Where
            th Event & Slides
            th Video
            th Language
        tbody
          tr
            td 2nd December '16
            td cantiere, Milan
            td 
              a(href="/talks-cyberresistance/") Cyber*Resistance
              | 
              a(href="http://www.cantiere.org/eventi/cyber-resistance-5-edition/") [event]
            td 
            td Italian
          tr
            td 1st November '16
            td c-base, Berlin
            td 
              a(href="/talks-netzpolitischer054/") Netzpolitischer Abend 54
            td
              a(href="https://vimeo.com/189842857") https://vimeo.com/189842857
            td English
          tr
            td 25th October '16
            td c-base, Berlin
            td
              a(href="https://docs.google.com/presentation/d/e/2PACX-1vR1Tz-G2fm9Nu0oe8lrAoG8aYCamT2kpZAn98B-AHP-ZNli88A4u5hOKrp-UMBDP4Iq2NP3Bl3xY0C5/pub?start=false&loop=false&slide=id.p") Hack'n'Tell
            td
              a(href="https://twitter.com/_vecna/status/791002928211431424") evidences ;)
            td English
          tr
            td 19th October '16
            td Berlin
            td
              a(href="https://docs.google.com/presentation/d/1uDd2oNxWSOJPfm-Jrm0k-4SBS2BNAomfhF6Ef_609So/edit#slide=id.p") PyData
            td
            td English

    div.footer 
