doctype html
html
  head

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook.tracking.exposed initiatives, research and open data")
    meta(property="og:title" content="facebook.tracking.exposed initiatives, research and open data")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Facebook Tracking Exposed list of talks, initiatives, research and open data")
    meta(property="og:url" content="https://facebook.tracking.exposed")
    meta(property="og:image" content="https://facebook.tracking.exposed/images/fbtrex_logo-400x400.png")
    meta(property="og:image:width" content="400")
    meta(property="og:image:height" content="400")
    title facebook tracking exposed: initiatives, experiments, and talks

  body

    include ../header
    include ../navbar

    div.mainstyle
      h3 Experiments done
      ul.fb--icon-list
        li
          a(href="https://medium.com/@trackingexposed/facebook-algorithm-and-impact-on-media-french-election-experiment-1-d760ed5a242f" target="_blank") French election experiment
          |  Our preliminary publication on how the same media got differentiated coverage
        li
          a(href="/NetherlandsElections") The Netherlands elections call
          |, and the 
          a(href="https://www.oneworld.nl/deze-tool-checkt-facebook-echt-de-verkiezingen-beinvloedt" target="_blank") OneWorld
          |'s call for action
        li
          a(href="/beta") beta
          |  announcement. Lesson learn and what's new. For supporters and technologist

      h3 Running experiments
      ul.fb--icon-list
        li Project's 
          a(href="/impact") Open statistics
      ul.fb--icon-list
        li
          a(href="/realitymeter") RealityMeter
          |, check which post get more evidences

      h3 Presentations
      table.table.table-striped
        thead
          tr
            th When
            th Where
            th Event & Slides
            th Video
            th Language
        tbody
           tr
            td 7th August '17
            td
              a(href="http://www.journalismfestival.com/programme/2017/exposing-what-facebook-wants-you-to-see") SHA2017
            td
              a(href="https://github.com/tracking-exposed/presentation/blob/master/FBTREX-SHA-2017.pdf") preview & PDF 
            td
              a(href="https://www.youtube.com/watch?v=ct9d-o7NrSg") 35 mins video + Q&A
        tbody
           tr
            td 8th April '17
            td
              a(href="http://www.journalismfestival.com/programme/2017/exposing-what-facebook-wants-you-to-see") International Journalism Festival, Perugia
            td
              a(href="/talks-ijf17/") IJF '17
            td
              a(href="https://www.youtube.com/watch?v=wpnmDz9Os50") 45 mins video
            td English
        tbody
           tr
            td 29th March '17
            td
              a(href="https://www.rightscon.org") RightsCon
              |, Demo Room, Day 1. Brussels
            td
              a(href="/talks-rightscon17/") RightsCon '17
            td
            td English
        tbody
           tr
            td 23rd February '17
            td Toolbox Coworking, Turin
            td
              a(href="/talks-torinohacknight/") Torino Hack Night
            td
            td Italian
           tr
            td 2nd December '16
            td cantiere, Milan
            td
              a(href="/talks-cyberresistance/") Cyber*Resistance
            td
            td Italian
           tr
            td 1st November '16
            td c-base, Berlin
            td
              a(href="/talks-netzpolitischer054/") Netzpolitischer Abend 54
            td
              a(href="https://vimeo.com/189842857") 25 mins video
            td English
           tr
            td 25th October '16
            td c-base, Berlin
            td
              a(href="https://docs.google.com/presentation/d/e/2PACX-1vR1Tz-G2fm9Nu0oe8lrAoG8aYCamT2kpZAn98B-AHP-ZNli88A4u5hOKrp-UMBDP4Iq2NP3Bl3xY0C5/pub?start=false&loop=false&slide=id.p") Hack'n'Tell
            td
              a(href="https://twitter.com/_vecna/status/791002928211431424") evidences ;)
            td English
           tr
            td 19th October '16
            td Berlin
            td
              a(href="https://docs.google.com/presentation/d/1uDd2oNxWSOJPfm-Jrm0k-4SBS2BNAomfhF6Ef_609So/edit#slide=id.p") PyData
            td
            td English

    div.footer
