doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/bootstrap.min.js')
    script(type='text/javascript', src='/js/local/suggest.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    title facebook tracking exposed, presentations conference and slided

  body
 
    div.jumbotron
      div.head-text.center.fb-color
        div.container-fluid
          h1 facebook.tracking.exposed
          h3 presentations, conferences and advoacacy

    nav.navbar.navbar-default
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
            span(id="sr-only") Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.collapse.navbar-collapse(id="thenavbar")
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/impact') Stats

    .container
      h2 Presentations
      table.table.table-striped
        thead
          tr
            th When
            th Where
            th Event & Slides
            th Video
            th Language
        tbody
          tr
            td 2nd December '16
            td cantiere, Milan
            td 
              a(href="/talks-cyberresistance/") Cyber*Resistance
              | 
              a(href="http://www.cantiere.org/eventi/cyber-resistance-5-edition/") [event]
            td 
            td Italian
          tr
            td 1st November '16
            td c-base, Berlin
            td 
              a(href="/talks-netzpolitischer054/") Netzpolitischer Abend 54
            td
              a(href="https://vimeo.com/189842857") https://vimeo.com/189842857
            td English
          tr
            td 25th October '16
            td c-base, Berlin
            td
              a(href="https://docs.google.com/presentation/d/e/2PACX-1vR1Tz-G2fm9Nu0oe8lrAoG8aYCamT2kpZAn98B-AHP-ZNli88A4u5hOKrp-UMBDP4Iq2NP3Bl3xY0C5/pub?start=false&loop=false&slide=id.p") Hack'n'Tell
            td
              a(href="https://twitter.com/_vecna/status/791002928211431424") evidences ;)
            td English
          tr
            td 19th October '16
            td Berlin
            td
              a(href="https://docs.google.com/presentation/d/1uDd2oNxWSOJPfm-Jrm0k-4SBS2BNAomfhF6Ef_609So/edit#slide=id.p") PyData
            td
            td English
          tr
            td ??
            td ??
            td ??
            td ??
            td ??

    div.footer 
