doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/reveal.css')
    link(rel='stylesheet', href='/css/reveal-solarized.css')
    link(rel='stylesheet', href='/js/local/slides.css')
    script(type='text/javascript', src='/js/reveal.min.js')
    script(type='text/javascript', src="/js/reveal-head.min.js")
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title facebook.tracking.exposed - Algorithm Diversity at RightsCon 2017

    script.
      function blink() {
        $('.blink').each(function() {
          var elem = $(this);
          setInterval(function() {
            if (elem.css('visibility') == 'hidden') {
              elem.css('visibility', 'visible');
            } else {
              elem.css('visibility', 'hidden');
            }
          }, 500);
        });
      }

  body(onload="blink();")

    .reveal
      .slides
        section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="180px")
          p
            b The Quest for Algorithmic diversity
          p
            a(href="https://facebook.tracking.exposed") https://facebook.tracking.exposed
          img(style="background-color:white; border:0;" src="/images/fbtrex_logo.svg")
          div
            small March 2017 - 
                a(href="https://twitter.com/_vecna") Claudio Agosti
                |, 
                a(href="https://twitter.com/OSD_it") Andrea Raimondi

        include ../slides/slide1
        include ../slides/slide2
        include ../slides/slide3
        include ../slides/slide4
        include ../slides/whatprice
        include ../slides/slide5
        include ../slides/slide6
        include ../slides/slide7
        include ../slides/slide8
        include ../slides/slide9
        include ../slides/slide10
        include ../slides/slide11
        
        include ../slides/livedemo
        include ../slides/takeaway
        include ../slides/experiments

        section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")
            h3 the end! not tired?
            p We've to build a community and fund raise!
            img(style="background-color:white; border:0;" src="/images/fbtrex_logo.svg")

    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true });
