doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/reveal.css')
    link(rel='stylesheet', href='/js/local/slides.css')
    link(rel='stylesheet', href='/css/reveal-solarized.css')
    link(href='/js/local/EB+Garamond-Font.css', rel='stylesheet')
    script(type='text/javascript', src='/js/reveal.min.js')
    script(type='text/javascript', src="/js/reveal-head.min.js")
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title facebook.tracking.exposed - Torino HackNight Toolbox Coworking

    script.
      function blink() {
        $('.blink').each(function() {
          var elem = $(this);
          setInterval(function() {
            if (elem.css('visibility') == 'hidden') {
              elem.css('visibility', 'visible');
            } else {
              elem.css('visibility', 'hidden');
            }
          }, 500);
        });
      }

  body(onload="blink();")

    .reveal
      .slides

              section
                h3
                  a(href='https://facebook.tracking.exposed') https://facebook.tracking.exposed
                p.right Torino Hacknight, Toolbox Coworking, 23/02/2017
                p.right
                  | Gilberto Conti 
                  a(href='https://twitter.com/_bicno') @_bicno
                p.right
                  a(href='https://keybase.io/fuffer/key.asc') FEE6694981538A34
              section
                section(data-background='black')
                  blockquote Did you hear that Facebook is messing up with the timeline?
                  p.right
                    i -- someone, in the U-Bahn
                section
                  img(src='/images/blockingofextremism.png')
                  p
                    a(href='http://www.reuters.com/article/us-internet-extremism-video-exclusive-idUSKCN0ZB00M') via Reuters 
                    | (2016-06-25)
                section
                  img(src='/images/facebookEmotionsManipulation.png')
                  p
                    a(href='https://www.theguardian.com/technology/2014/jun/29/facebook-users-emotions-news-feeds') via TheGuardian
                    | (2014-06-29) + 
                    a(href='http://www.pnas.org/content/111/24/8788.full') Paper
                    | .
                section
                  img(src='/images/facebookRulesOnExperimenting.png')
                  p
                    a(href='https://www.technologyreview.com/s/601696/facebooks-rules-for-experimenting-on-you/') via TechnologyReview
                  | (2016-06-15)
                section
                  img(src='/images/ferguson.png')
                  p
                    a(href='https://medium.com/message/ferguson-is-also-a-net-neutrality-issue-6d2f3db51eb0') a medium post of Zeynep Tufekci
                  | (2014-08-14)
                section
                  img(src='/images/social-media-week.png')
                  p
                    a(href='https://socialmediaweek.org/blog/2017/01/people-womens-march-facebook-trending-news/') via Social Media Week
                  | (2017-01-23)
                section
                  img(src='/images/zeroedge.png')
                  p
                    a(href='http://www.zerohedge.com/news/2017-01-16/facebook-launchs-fake-news-filtering-service-ahead-german-elections') via Zero Hedge
                  | (2017-01-16)
              section
                section
                  p.left In spite of appearances, I feel a strong esteem for Facebook as a company
                  p.right
                    b
                      | This project is intended to support society, policy makers, journalists and users to get a better understanding about power dynamics in the algorithms age
                  p.left
                    | Facebook has 1 billion ~700 million (maybe) users worldwide, will remain for many years a reference point and their influence can only increase
                  p.right Society was not so ready, probably?
                section
                  h2 Collective behaviour
                  ul
                    li
                      | It is driven by 
                      b Social policies
                    ul
                      li Tools for the collectivity to do self-governance and self-awareness
                      li Intended to dissuade harmful behaviour and incentivate useful behaviour
                    p Social policies have to be openly discussed
                section
                  p
                    b Personalisation algorithms 
                    | are a tool of  
                    b Social Politics!
                section
                  h2 problems with that?
                  ul
                    li
                      | Collectivity has no accountability on the 
                      b social outcome 
                    | is simply powerless
                    li
                      | Currently private company are driven by business interest determining what it is better and what it is not
                section
                  blockquote
                    | “These algorithms, when they are not transparent, can lead to a distortion of our perception, they narrow our breadth of information.”
                  a(href='https://www.rt.com/news/364235-merkel-facebook-google-algorithms/')
                    img(src='/images/MerkelGoogleFacebook.png')
                section
                  h3 "distortion of perception", aka
                  ul
                    li Filter bubble
                    li Echo chambers
                    li Algorithm discrimination
                    li (Technocratic scapegoat ?)
                section
                  h3 The problems:
                  ul
                    li Am I in the bubble?
                    li How much the bubble is big?
                    li There are other bubbles?
                    li As the bubble influences me?
              section
                section
                  h3 Let's start from a post
                  img(src='/images/pitch_facebookMetadata.png')
                section
                  p In order to see the effects of a personalisation algorithm:
                  img(src='/images/pitch_simpleviz.png')
                section
                  img(src='/images/pitch_impact.png')
                  p
                    | after September, a small team is born around the project, and we took steps to reach a beta phase.
              section(data-background='yellow')
                section
                  h3 the project
                  p
                    | Our vision is to increase transparency behind personalization algorithms, so that people can have more effective control of their online Facebook experience and more awareness of the information to which they are exposed.
              section
                section
                  h3 How does it work?
                  ul
                    li
                      | Facebook users who joined our project are named 
                      b Supporters
                      | . It is an explicit opt-in, you need to install a browser extension do be part of it.
                    li.fragment
                      | the Extension, 
                      b monitors and scrapes  
                      | the Supporter feed, when it finds a public shared post, it collects the HTML section, and sends it to a server 
                      img(src='/images/public.png')
                    li.fragment
                      | All other content, for example the one shared with friends only, are ignored 
                      img(src='/images/notpublic.png')
                  i.fragment
                    | we don't want to risk to leak activities intended for a restricted audience, because we might have no control over the dataset.
                section
                  h3 how to keep supporters engaged?
                  p we can provide informations Facebook cannot!
                  ul.fragment
                    li Escape the filter bubble
                    li Understand your personal trends
                    li Understand you friends influence
                    li To see the Human networks you belong
                section
                  h3 more happy users, more data for researcher!
                  p.left
                    | Personalisation algorithms influence the collectively, and collectivity have to be analyzed
                  p.right
                    | Have some fresh/new users behaving in the same way, might facebook treating them equally? which are the parameters that influence more?
                  p
                    | 💡  Can you emulate an high income Luxembourg user and compare with a low income granpa near the German border? (different browser)
                section
                  h3 Alpha - Goal (Set 2016)
                  ul.fragment
                    li
                      | Show a concept of “monitoring the social media from the user point of view” tool.
                    li 
                      | Envision a project able to engage with a diverse audience.
                    li
                      | Attract attention in the technical and human rights defender community in order to raise criticism of the social media power.
                    li
                      | Explore ways to make the power of the algorithms, otherwise invisible and still greatly debated,  “visible”.
                section
                  h3 Alpha - Stack
                  ul.fragment
                    li
                      | TamperMonkey (a framework for web extension). The userscript  parses the facebook posts and extracts metadata.
                    li
                      | A server based on nodejs and mongodb. Server receives metadata extracted by the userscript.
                    li
                      | A set of analysis function to analyse the dataset derived from the collection. The function is accessible via web API, and the content visualized via webapp (d3.js)
                section
                  h3 Alpha - Considerations
                  ul.fragment
                    li
                      | Promoted posts and Feed posts have a different nature. The former do not have a publication date. Problem: if promoted post has to be considered along with the feed, ignored, or analyzed separately for a different purpose.
                    li
                      | Facebook changes the HTML format quite frequently. As a technical mandate, we’ve to keep our dataset clean.
                section
                  h3 Beta - Goal (Dec 2016)
                  ul.fragment
                    li
                      | Privacy statement (Greg McMullen): a clear statement concerning the data we manage, how we manage them, and how we deal with user's privacy.
                    li Archiving: row data from extensions
                    li
                      | Distributed analysis: The process metadata extraction can be outsourced in development and in computation power.
                section
                  h3 Beta - Goal
                  ul.fragment
                    li Enabling skilled adopters: some simple and anonymized API
                    li
                      | Sharing agreement: The goal is to set the appropriate ethical standard under which stakeholders can freely obtain access to our database in order to perform advanced researches. Avoiding SOCMINT
                section
                  h3 Beta - Stack
                  ul.fragment
                    li Public/private key schema for contributors’ authentication.
                    li
                      | API for distributed data mining. They have been already used by others people (within the framework, or in python to do natural language processing).
                    li
                      | Selecting javascript framework for simple visualization and third party inclusion (beside d3.js, c3.js heatmap-cal and datatables.net are used right now).
              section
                section
                  h3 FAQ
                  ul
                    li
                      | Often the project facebook.tracking.exposed has been mistaken as a tool that might offer a different experience of facebook directly: it is not, we'll work only passively on the timeline of the user.
                    li
                      | Can Facebook block the plugin? well, for sure they can give us trouble, but we are not using the API, so also their way to control our usage has to be targeted against the project.
                section
                  h3 FAQ
                  ul
                    li
                      | Information diet: we oppose to the idea that technology might tell you what is a fake news, a validated news, a trusted source, etc. Technology can’t replace critical judgment. Our goal is to compare the information you are exposed during your facebook experience, with a larger and differentiated set of sources. The user would decide if he’s happy with what is exposed on facebook or rather whether he thinks he should enlarge his information base.
              section
                section
                  h3 Interfaces
                  ul
                    li
                      | Provide interfaces with actual features, features that facebook can't provide, is the strategical way to get users feel a beneficial effects from adopting the tool
                    li
                       a(href='https://facebook.tracking.exposed/realitycheck/1584306016') RealityCheck
                       
                section
                  h3
                    | API
                    p
                    | Time of activity of the supporter
                    p
                    | Absolute order post list
                    p
                 section
                  h3 Parsers
                  img(src='/images/fbtrex-parser-workflow.png')
                 section
                  h3 Dataset
                  img(src='/images/fbtrex-parser-workflow-2.png')
                 section
                  h3 Running parsers
                  ul
                    li
                      | postType
                    li
                      | promotedTitle
                    li
                      | promotedLink
                    li
                      | promotedInfo
                    li
                      | feedPostHref
                    li
                      | feedReactions
                    li
                      | imageTag(?)
 
              section
                h4 and now?
                ul.left
                  li we need Researchers and Developers of new visualisations!
                  li
                    | Grants and donation with the help of 
                    a(href='https://techcultivation.org/') Center for the Cultivation of Technology
                    | umbrella.

    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true });
