link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
link(rel='stylesheet', type='text/css', href='/js/local/impressionTable.css')

script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/collapse.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/lodash.min.js')
script(type='text/javascript', src='/js/moment.min.js')

script(type='text/javascript', charset='utf8', src='/js/local/impressionTable.js')
