
div.container-fluid.realitycontainer
    h2 RealityCheck
    p.text.text-info This page is intended to offer you a point of view external to your usual, everyday social media immersion. 
    p.text.text-info As you might guess, 
        b this is a work in progress
        |  and we like to keep the project as open as possible to a variety of collaborations. If you work on data visualisation, you are more than welcome to help us improve/extend our APIs (
        a(href="https://github.com/tracking-exposed/facebook") and visualizations
                |)

    p.text The tabs below, are intended to show you few profile information about you, your latest contribution and the metadata extracted by your submission. This page would became accessible only to you,
        i soon 
        | the autentication method is still a work in progress. And a simple interface to consults posts life check the: 
        a(href="/realitymeter") RealityMeter
        |.
        
