doctype html
html
  head
    link(href='/js/local/EB+Garamond-Font.css', rel='stylesheet')
    link(href='/js/local/realitycheck.css', rel='stylesheet')

    title facebook.tracking.exposed Personal page - RealityCheck

  body
    div(style="margin: 6%")
      h1 Visualisation temporarly unavailable
      p Sorry for that, as part of the transition between 
        a(href="/beta") alpha and beta
        |, your data are collected and would be display to you soon, because the old visualsiation are still to be updated accordingly the new data format.

      img(src="/images/fbtrex_logo.svg")
