doctype html
html
  head
    link(href='/js/local/EB+Garamond-Font.css', rel='stylesheet')
    link(href='/js/local/realitycheck.css', rel='stylesheet')

    title facebook.tracking.exposed Personal page - RealityCheck

  body
    div(style="margin: 6%")
      h1 Visualisation temporarily unavailable
      p Sorry for that, as part of the transition between 
        a(href="/beta") alpha and beta
        |, your data are being collected and will be displayed to you soon, because the old visualisations are still to be updated according to the new data format.

      img(src="/images/fbtrex_logo.svg")
