doctype html
html
    head
        include headers

        link(rel='stylesheet', type='text/css', href='/js/local/overlook.css')
        script(type='text/javascript', src='/js/d3.min.js')
        script(type='text/javascript', charset='utf8', src='/js/local/overlook.js')

        title facebook.tracking.exposed Your RealityCheck

    body(onload="loadRefreshMap(getSupporterId(), '#visualization');")

        include intro
        include userNavbar

        .container-fluid
            span.col-md-1
            span.col-md-2
                div(class="legend" style='background-color: #81e3ea')
                    p public posts — 
                        i publication time
                div(class="legend" style='background-color: #eaea5e')
                    p friends-only
                div(class="legend" style='background-color: #f76f61')
                    p promoted
                div(class="legend" style='background-color: lavender')
                    p special / unrecognized

            span.col-md-1
            span.col-md-8
                div(id="information") 
                    i move over the posts below to get info
                

        div(id="visualization")

