doctype html
html
    head
        include headers
        title facebook.tracking.exposed Your profile 

    body(onload="loadProfile(getSupporterId(), '#profileInfo');")

        include intro
        include userNavbar

        div.container-fluid.realitycontainer
            p.text.text-info From different browser your public key is not shared. you need to repeat configuration. These are the one we have about your user:
            div#profileInfo

