@import 'buttons';

div[role="banner"] {
    background-color: tomato !important;
}

#escvi--root {
    position: fixed;
    bottom: -1px;
    left: 25px;
    display: block;
    width: 50px;
    height: 50px;
}
