.fbtrex--main-button {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: palegreen;
    color: black;

    font-size: 2em;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    border: 1px solid #888;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.fbtrex--main-button:hover {
    text-decoration: none;
    opacity: 1;
}
