.optionalBlock#metadataInfoBlock

    p The browser extension collect what you saw as an 
        i evidence
        |, but to perform analysis, we need to extract and attibute 
        i metadata
        |.
    p If you know a bit of HTML, w3c selector, or even better, NLP or more exotic analysis, please get in touch here; This is a free software project, you are welcome. At the moment, we have this 
        a(href="") list of metadata extractor
        |.

