section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")

    p Nation-wide experimental data format
    p.small
      ul
        li id: "b68c047aed64309fcbdd60957c45483bbd8ced3f",
        li userPseudo: "pizza-gelato"
        li publicationUTime: "2017-03-10T20:40:15.000Z",
        li impressionTime: "1"
        li impressionOrder: "2017-03-11T20:33:29.000Z",
        li postId: "10213076189686398",
        li permaLink: "https://www.facebook.com/photo.php?fbid=10...",
        li timelineId: "9b56308ab7c206b69b981220a6a685c1c859c9f4",
