section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")

    h4 Experiments
    ul
        li Two users: Same friends, different likes
        li Compare your group of friend
        li How fast you can change your feed?
        li How many information get privileged and how many filtered?
        li What's the average life of a post?
        li Among friends, who's the most influential at parity of content?
