section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")

    h4 Experiments?
    ul
        li Two users: Same friends, different likes
        li Compare your group of friend
        li How much you can change your feed?
        li How much information get privileged and how much filtered?
        li Can we measure the b
            information sources and potential
            |  of a profile?
