section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")
    p This system collects what the user saw:
    ul
        li
            b providing evidences usable to research
            |  and understand Facebook's personalization algorithm
        li 
            b contributing
            |  to an open data feed usable to understand social trends
        li 
            b and (will) give backs
            |  a less immersive experience of the supporter, showing the informative diet
            


