block howdoesitwork

  section

    section 

      h3 How does it work?

      ul
        li Facebook users who joined our project are named 
          b Supporters
          |. It is an explicit opt-in, you need to install a browser extension do be part of it.

        li.fragment the Extension, 
          b monitors and scrapes  
          | the Supporter feed, when it finds a public shared post, it collects the HTML section, and sends it to a server 
          img(src="/images/public.png")
        li.fragment All other content, for example the one shared with friends only, are ignored 
          img(src="/images/notpublic.png")

      i.fragment we don't want to risk to leak activities intended for a restricted audience, because we might have no control over the dataset.

    section
      h3 how to keep supporters engaged?
      p we can provide informations Facebook cannot!

      ul.fragment
        li Escape the filter bubble
        li Understand your personal trends
        li Understand you friends influence
        li To see the Human networks you belong

    section

      h3 more happy users, more data for researcher!

      p.left Personalisation algorithms influence the collectively, and collectivity have to be analyzed
      p.right Have some fresh/new users behaving in the same way, might facebook treating them equally? which are the parameters that influence more?
      
      p 💡  Can you emulate an high income Luxembourg user and compare with a low income granpa near the German border? (different browser)

    section

      h3.blink Warning
      p.left
        b ALPHA 
        | with the Tampermonkey alpha, we are analyzing all the posts, but not the content.
      h3.blink Warning
      p.left
        b BETA 
        | released in 1 month, and dataset of the alpha will be deleted.
