block interfaces

  section 

    section

      h3 Interfaces

      ul
        li Provide interfaces with actual features, features that facebook can't provide, is the strategical way to get users feel a beneficial effects from adopting the tool

        li
          a(href="https://facebook.tracking.exposed/realitymeter") RealityMeter

        li 
          a(href="https://facebook.tracking.exposed/realitycheck/timelines/100005961541729") RealityCheck 
          | developed by 
          a(href="http://www.densitydesign.org/") DensityDesign 
          | Design Department of the Politecnico di Milano


    section

      h3 API

        p
          a(href="https://facebook.tracking.exposed/user/2/analysis/presence/5000/100013436260185/json") Time of activity of the supporter
        p
          a(href="https://facebook.tracking.exposed/user/2/analysis/absolute/5000/100013436260185/json") Absolute order post list
        p
          a(href="https://facebook.tracking.exposed/user/2/timeline/100005961541729/0/6/20") Timelines

  
