
block intro
  section(data-background="images/moca-2016-splash.png")
    div.container
      span.row.col-sm-4
      span.row.col-sm-8
        h2 facebook.tracking.exposed
      span.row.col-sm-4
      span.row.col-sm-8
        h3
          a(href="https://twitter.com/_vecna") Claudio @_vecna

