section
    section
        img(src="/images/livedemomeme.jpg")
        p Proudly in ß! 
        p
            a(href="https://facebook.tracking.exposed") https://facebook.tracking.exposed

    section
        h4.small personal reminder
        ul
            li Extension installation
            li RealityCheck
            li RealityMeter
            li revision page
            li Open stats

    section(data-background-image="/images/cimitero.jpg")
    section
        img(src="/images/alphaviz1.png")
    section
        img(src="/images/alphaviz2.png")
        p
            small Michele Invernizzi -- Density Design

