block personalisation

section

  section

    h2 technology make our life easier!
    p for example in the '70 this was our expectation of "technological assistance" ↓ 

  section(data-background="/images/robotAssistant.jpeg")

  section

    h2 40 years later...
    ul
      li.fragment Nowadays 
        b algorithms 
        | are our technological assistant, specially: personalisation algorithm

      li.fragment They intermediate access to the informations

      li.fragment Supposedly they help us in having a
        b better 
        | experience, a more suitable, pleasante and appropriate 
        b information diet
        |.
