block personalisation

section

  section

    p.left In spite of appearances, I feel a strong esteem for Facebook as a company
    p.right
      b This project is intended to support society, policy makers, journalists and users to get a better understanding about power dynamics in the algorithms age
    p.left Facebook has 1 billion ~700 million (maybe) users worldwide, will remain for many years a reference point and their influence can only increase
    p.right Society was not so ready, probably?

  section(data-background="/images/robotAssistant.jpeg")

  section

    h2 technology takes a different path
    ul
      li
        b software → app → algorithms 
        | are our technological assistants, especially personalisation algorithms

      li Supposedly, they help us having a 
        b better  
        | experience, a more appropriate 
        b information diet
        |.
