
block pitch

  section

    section(data-background="black")
      blockquote Did you hear that Facebook is messing up with the timeline?
      p.right 
        i -- someone, in the U-Bahn

    section
      img(src="/images/pitch_facebookMetadata.png")

    section
      p In order to see the effects of a personalisation algorithm:
      img(src="/images/pitch_simpleviz.png")

    section
      img(src="/images/pitch_impact.png")
      p after September, a small team is born around the project, and we took steps to reach a beta phase.

