
block pitch

  section

    section(data-background="black")

      blockquote Did you hear that Facebook is messing up with the timeline?
      p.right 
        i -- someone, in the U-Ban

    section
      img(src="/images/pitch_facebookMetadata.png")

    section
      img(src="/images/pitch_impact.png")

    section
      img(src="/images/pitch_simpleviz.png")

    section

      h3 This was the 30 seconds pitch
      p now we'll see why it is right ;)
