block problemswithpa

section

  section
    h2 problems with that?
    ul
      li Collectivity has no accountability on the 
        b social outcome 
      | is simply powerless
      li Currently private company are driven by business interest determining what it is better and what it is not

  section
    blockquote “These algorithms, when they are not transparent, can lead to a distortion of our perception, they narrow our breadth of information.”

    a(href="https://www.rt.com/news/364235-merkel-facebook-google-algorithms/")
      img(src="/images/MerkelGoogleFacebook.png")

  section
    h3 "distortion of perception", aka
    ul
      li Filter bubble
      li Echo chambers
      li Algorithm discrimination
      li (Technocratic scapegoat ?)

