
block problemFilter
  section
    section
      p Article from The Intercept (06 June '16) 
          a(href="https://theintercept.com/2016/06/09/facebook-outreach-tool-ignores-black-lives-matter/") Facebook outreach tool ignores Black Lives Matter

    section
      p.long When Facebook launched a new system in January to help news outlets and other groups target posts to particular audiences, a representative of the New York Times said it had the potential to kindle “vibrant discussions” within “niche Facebook communities” that might otherwise get lost amid the social network’s 1.6 billion users. And indeed, in the system’s first several months, software algorithms have generated hundreds of thousands of special tags for connecting to even the most obscure groups, including 7,800 Facebook users who are interested in “Water motorsports at the 1908 Summer Olympics.”

    section
      p.long But there’s one set of people who can’t be reached via Facebook’s system: those interested in Black Lives Matter, the nationwide grassroots movement protesting police violence against black people.

    section
      p.long Facebook’s targeting mechanism, designed to route articles and videos from Facebook Pages into users’ news feeds, will gladly help reach other protest communities. For example, publishers can target people interested in the conservative Tea Party or in its largely forgotten liberal response, the “Coffee Party,” as well as those enthusiastic about the “Fight for $15” labor movement and the “Boycott, Divestment and Sanctions (BDS) Movement” around Israeli mistreatment of Palestinians, all by attaching to their posts selectors known as Preferred Audience interest tags.

    section
      p.long That there’s no such tag for Black Lives Matter is particularly baffling given that BLM began on Facebook in 2013 and has dominated headlines ever since.

