
block project

  section(data-background="yellow")

    h3 the project

    p Our vision is to increase transparency behind personalization algorithms, so that people can have more effective control of their online Facebook experience and more awareness of the information to which they are exposed. 
