section(data-background="/images/pattern.png" data-background-repeat="repeat" data-background-size="100px")

    section
        h4 What can possibly go wrong??
        img(src="/images/murphy1.jpg")

    section
        img(src="/images/exposuretoideologically.png")

