section.left(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")

    section
        .floatleft
            .container
                blockquote.twitter-tweet(data-partner='tweetdeck')
                    p(lang='en', dir='ltr')
                        | In college, you find it hard to volunteer without FB. Local activists often only use Facebook; none, and you are left out. 
                        a(href='https://twitter.com/hashtag/PrincetonFung?src=hash') #PrincetonFung
                    | &mdash; Zeynep Tufekci (@zeynep) 
                    a(href='https://twitter.com/zeynep/status/843814111771287552') March 20, 2017
                script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8') 
            .container
                p.big
                    b Not 
                    | a solution.
                p rather, this is just giving up finding a solution

    section
        blockquote.twitter-tweet(data-partner='tweetdeck')
            p(lang='en', dir='ltr')
                | In college, you find it hard to volunteer without FB. Local activists often only use Facebook; none, and you are left out. 
                a(href='https://twitter.com/hashtag/PrincetonFung?src=hash') #PrincetonFung
            | &mdash; Zeynep Tufekci (@zeynep) 
            a(href='https://twitter.com/zeynep/status/843814111771287552') March 20, 2017
        script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8') 
