section

    section(data-background="/images/pattern-open.jpg" data-background-repeat="repeat" data-background-size="100px")
        ul.big
            li quit facebook →  nope
            li pop the information bubble →  nope
            li more inclusive algorithms →  nope

    section(data-background="/images/pattern-open.jpg" data-background-repeat="repeat" data-background-size="100px")
        h4.red we need more than that!
        h2 we need to understand the world through the eyes of others

    section(data-background="/images/pattern-open.jpg" data-background-repeat="repeat" data-background-size="100px")
        p not Algorithm 
            b Independency
        p Algorithm 
            b Diversity



