section(data-background="/images/pattern.png" data-background-repeat="repeat" data-background-size="100px")

  section
    img(src="/images/suppressconvervativeviews.png")
    small
      i [ and it comes from a facebook whistle-blower! ]

  section
    img(src="/images/ferguson.png")
    p
      small
        a(href="https://medium.com/message/ferguson-is-also-a-net-neutrality-issue-6d2f3db51eb0") (Tufekci 2014)

    p.big
      b some voices are not heard, some worldviews are not considered.

