section

    section(data-background="/images/pattern-simple.jpg" data-background-repeat="repeat" data-background-size="100px")

        h2 do we 
            b need 
            |  algorithms?

    section(data-background="/images/carbonara.png")

    section(data-background="/images/pattern-pasta.jpg" data-background-repeat="repeat" data-background-size="100px")

        p
            b Guanciale, eggs, bucatini, onion, black pepper, (cream?)
        p
            b This is not enough to get a true Carbonara!

    section(data-background="/images/chaos-wire.jpg")
    section(data-background="/images/organized-wire.jpg")
