section(data-background="/images/pattern.png" data-background-repeat="repeat" data-background-size="100px")

    section
        img(src="/images/suppressconvervativeviews.png")
        small
          i [ and it comes from a facebook whistle-blower! ]

    section
        img(src="/images/ferguson.png")
        p 
            a(href="https://medium.com/message/ferguson-is-also-a-net-neutrality-issue-6d2f3db51eb0") Tufekci'14

        h4 So what? 
        p 
            b some voices 
            |  are not heard, 
            b some worldviews
            |  are not considered.

