section

    section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")

        p(style="font-size: 2.4em;color: black;") do we 
            b need 
            |  algorithms?

    section(data-background="/images/carbonara.png")

    section(data-background="/images/pattern-pasta.jpg" data-background-repeat="repeat" data-background-size="100px")

        p
            b(style="font-size: 2.4em;color: black;") Guanciale, eggs, bucatini, black pepper, pecorino
        p
            b(style="font-size: 2.4em;color: red;") Not enough to get a Carbonara!

    section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")
        img(src="/images/carboanarafight.png")
