section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")

    section
        h3 the hard problem
        ul(style="font-size: 1.4em;")
            li Quit facebook →  nope
            li(class="fragment" data-fragment-index="0") Pop the information bubble →  nope
            li(class="fragment" data-fragment-index="1") More inclusive algorithms? →  nope

        p(style="font-size: 1.8em;" class="fragment" data-fragment-index="1") We need more than that!

    section
        p(style="font-size: 2.3em; color: black; font-weight: 700") We need to understand the world through the eyes of others

    section
        p(style="font-size: 1.8em; border-bottom: 1px black solid;") not Algorithm Independency,
        p(style="font-size: 1.8em; color: black")
          b Algorithm Diversity
