section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")

    h3 How can we achieve that?

    p 借刀杀人
    p (kill with a borrowed sword)

    .left
        p “If you are limited in your own strength, then borrow the strength of the enemy.”

    p
      i Thirty-six Stratagems, I.III
