section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")

    section

        h2 Why is this a problem? 
        p.strong reinforce your biases and increase your prejudices  

    section

        img(src="/images/AdvancingRacismWithFacebook.png")

    section

        img(src="/images/FBvsTwitterAndpersonalityPredictors.png")

    section

        img(src="/images/thespreadingofmisinformation.png")
