section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")

    p.big Wow, looks cool on paper but...we don’t even know how facebook algorithms works in the first place!

    img(style="background-color:white; border:0;" src="/images/fbtrex_logo.svg") 
