section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")

    section
        p
          b Why is this a problem? 

        p.strong By sheltering information, algorithms contributes to reinforce our confirmation biases

        p.strong(class="fragment" data-fragment-index="1") The more we are biased toward others, the more likely we are to treat others as stereotypes

    section
        img(src="/images/AdvancingRacismWithFacebook.png")

    section
        p.strong This paved the road for prejudice

        p.strong(class="fragment" data-fragment-index="1") Prejudice cause us to give a deflated level of credibility to others’ testimony and words.

        p.strong(class="fragment" data-fragment-index="2") We lose our ability to integrate different worldviews. 

    section
        img(src="/images/FBvsTwitterAndpersonalityPredictors.png")

    section
        img(src="/images/thespreadingofmisinformation.png")


