block socialpolicy

section

  p.right
    i a small digression on...

  h2 Collective behavior!

  ul
    li.fragment (Mostly?) driven by 
      b Social policies
    ul
      li.fragment Social policies are tool for the collectivity to do self-governance and self-awareness
      li.fragment Intended to dissuade harmful behaviors and incentivate useful behaviors

