section(data-background="/images/pattern-open.png" data-background-repeat="repeat" data-background-size="100px")
    h2 Takeaway:
    p This system collects what the user, and then we can:
    ul
        li
            b providing evidences usable by researchers
            |  usable to understand Facebook's personalization algorithm
        li 
            b contributing
            |  to an open data feed usable to see trends
        li 
            b and (will) give backs
            |  a less immersive experience of the supporter, showing your informative diet
        li "the eyes of others" development

