block team

  section
 
    h4 and now?

    ul.left
      li we need Researchers and Developers of new visualisations!
      li Grants and donation with the help of 
        a(href="https://techcultivation.org/") Center for the Cultivation of Technology
        | umbrella.

    h4 The current team

    ul.left
      li We are a small distributed unfunded team of developers and philosophers
      li I'm leaving Berlin :°( but the fresh CTO, Alberto, is here →
      li Our advisors are 
        a(href="https://twitter.com/osd_it") Luca and Andrea of OSD
      li And Kiki is in Bologna, hosting presentation in Italy and having good pasta ;)

    p
      a(href="https://facebook.tracking.exposed") facebook.tracking.exposed
