doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    title 404

  body

    .container.center
        include navbar
        h1 Page not found! 

        h3 If you found a broken link, please consider reporting it to 
            a(href="https://www.facebook.com/personalizationalgorithm") our Facebook page
            |, or in the developer 
            a(href="https://chat.securitywithoutborders.org/community/channels/trackingexposed") chat
            |.
        p This, because we exclude you don't use github. If is the case, on the heeader, there are our repositories linked ;)

