doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    title 404

  body
    .container
        include navbar

    .container.center
        h1 Page not found! 
        p also, maybe it is our fault, we are updating the system and some links still point at the wrong location.

        p please consider reporting it to 
            a(href="https://www.facebook.com/personalizationalgorithm") our Facebook page
            |, or in the developer 
            a(href="https://chat.securitywithoutborders.org/community/channels/trackingexposed") chat
            |, or drop an email at
            b  support
            | @
            b  tracking
            | <dot>
            b  exposed

        p 
            i ... this, by excluding you are using github. If is it the case, feel free to open an issue in the 
                a(href="https://github.com/tracking-exposed/facebook") fbTREX backend
                |  repository (AGPL license).

