doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title About Us 

  body
    include header

    include navbar

    div.container-fluid

      p The team below is volunteer based. If you have questions, please mail 
        b support﹫tracking・exposed
      p We have a Facebook page, to organize experiments on the social media sphere, and discuss on 
        a(href="https://www.facebook.com/personalizationalgorithm") Personalisation Algorithms
        |.

    div.container-fluid

      span.col-xs-4
        include team/claudio
      span.col-xs-4
        include team/alberto
      span.col-xs-4
          include team/kiki
      span.col-xs-4
          include team/osd
      span.col-xs-4
          include team/bic
