
VIII. ACHIEVEMENTS & REFERENCES
2018
The first academic publication of ours has been acknowledged as Best Article in Brasilian Social Network analysis.
TacticalTech published a report written by Claudio Agosti and Fabio Chiusi, on Italian political election and digital propaganda. fbTREX data, released in this repository, have been used in a portion of the report.
WebFoundation used fbTREX as a measurement tool to analyze how the algorithm shapes the perception of political events. We ran the test in Argentina, and produced a report: The Invisible Curation Of Content.
European Research Council funded ALEX (ALgorithm EXposed) with 150.000€.

2017
We received a small grant from LUSH digital fund, 11.000€.
Anonymization of a social graph is hard, The fbTREX dataset has been used by a researcher, Silvia Puglisi, to produce a research paper on linkability of anonymized profiles. This also provided a privacy assessment on how to define our open data policy.
