block alpha
  h2 The experience got during the Alpha

  p The initial development phase went since June 2016 to September, then the alpha stage last since the begin of September to the begin of December. The goal of the alpha was showing the project, get person engaged, understand assets, concerns and priorities. It went fairly well:
  ul.fb--icon-list
    li A team has been created, partnership are explored, along a refined vision for the project
    li Privacy issues has been discussed and, a 
      a(href="/privacy-statement") Privacy Statement
      |  has been defined and specified 
    li new technologies will mode facebook.tracking.exposed in a more sustainable ecosystem, check the 
      a(href="/beta") Beta announcement
      |.
    li ← This, is our new 
      a(href="https://github.com/tracking-exposed/logos") logo
      |!
    li We broke the previous visualisation, they will be restored and new will comes.
    li Four 
      a(href="/initiatives") talks
      |  has been done on this subject, helping us to reach 95 users in this phase.
    li We broke the previous visualisations! The database format is changed and the previous approach has stop to work by the end of November… showing the intrinsic limits of the prototypal technology :)
  img(src="/images/posttype-alpha.png")

  p The new phase has still a publicly downloadale database and 
    a(href="/impact") open data describing our collected meta data

