doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(href='/js/local/EB+Garamond-Font.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/bootstrap.min.js')

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Welcome to the ß phase of facebook.tracking.exposed

  body
 
    include header

    nav.navbar.navbar-default
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
            span(id="sr-only") Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.collapse.navbar-collapse(id="thenavbar")
          ul.nav.navbar-nav
            li
              a(href='/') The new homepage
            li
              a(href='/impact') Open Stats
            li
              a(href='https://github.com/tracking-exposed/facebook') Code
            li
              a(href='/#team') About us

  div.polite-propaganda
    p
      i In December 2016, we are releasing the beta version of facebook.tracking.exposed, with these shiny improvements:

    h2 
      b Native extension 
      | for chrome/firefox.
    h2
      b Clear privacy model:
      | only what is shared with the public [
      img(src="/images/public.png")
      | ] is considered by the experiment
    h2 The whole process 
      b extract metadata
      |, to get insight on facebook algorithm 
      b and data
      |, proving to the supporters a stronger understanding.
    h2 
      b Parsing happen server side
      | ; the extension deliver the HTML snippets, then small distributed tasks extract informations from the posts. 
      a(href="https://github.com/tracking-exposed/facebook/API.md#parsers") check the specifics
      | .
    h2 What are we looking for ? 
      b Visualisations to explain how personalisation algorithms works 
      | Possibly, more users will find it appealing, and more data will flow, and more researcher will find the dataset complete, and so on and so on in a self sustaining circle ↺

    div.footer 
