block collaboration

  b major supporters, researchers
  | or
  b organizations
  | can consider the next stage of cooperation:
  ul
    li
      b dedicate a server to the network
      |, this server will be managed by the supporter, use my software be constantly updated. Who runs a server will share access on some user metadata timeline, therefore they have to explicity accept this
      a (href="codeofcooperation") Code of the algorithm analyst
    li
      b improve the communication
      | for this project: every nation can have a debate that facebook can promote or penalize, frame the communication in that sense will attract more adopter compared to whom care about algorithm
    li
      b figure out research questions
      |, doing mass analysis on Facebook user base can be chaotic from a statistical point of view. maybe you can reduce the analysis on activist in pakistan, japanese doctors, indigenous community of ecuador. You can get access to the
      b researcher program
      | and get these users in a separated archive, permitting more specific analyis.
    li
      b fundraising
      | I'm not looking for organisation to cooperate with, but if you are good in writting fund raising for media accountability, journalism, data analyisis, psycological impact of internet, you can do the proposal for me, and
      b I'll give you the 40% of the money you raise.
      | (I'm curious to see if this distribution of effort works)
    li
      b algorithm reporting
      | a challenge in the future will be explain how algorithm works: the comany want to keep them secrets (and that's can be ok), public institution should put them public, and third party analyst, reporter and citizen has to understand the implication of algorithm
    li
      b parser developer
      | the parser of facebook page implemented in the script can become outdated and can be improved to extract more meta-data, we've to do an assessment of privacy impact if too many meta-data get extracted, but generally speaking there is space for improvement, follow the
      a (href='') parser github issues
        |.

  Every contributor will be reported in the contributor page along their links, if not otherwise requested. Long term engagement will be payed if I raise enough money (no promises at the moment, maybe the whole project collapse in September, it is just a proof-of-concept at the moment)

