table.table.table-striped
    tbody
        tr
            td
                p Our Facebook page: 
                    a(href="https://www.facebook.com/personalizationalgorithm") Personalisation Algorithms
                small Surprised? afterall, is where the adopters are...
            td
                p Telegram bot: 
                    a(href="https://t.me/fbTREXupdates") fbTREX updates
            td
                p The issue trackers: 
                    div < 
                        img.githublogo(src="/images/github-256.png")
                        a(href="https://github.com/tracking-exposed/web-extension/issues") browser extension
                        |, 
                        a(href="https://github.com/tracking-exposed/facebook/issues") backend
                        |  /> 
        tr
            td
                p 
                    span.glyphicon.glyphicon-envelope
                    |  an e-mail
                p
                    b support﹫tracking・exposed
            td
                P Mattermost 
                    a(href="https://chat.securitywithoutborders.org/community/channels/trackingexposed") channel #trackingexposed

