h1 Ethos

p This project consists of  free software technology, designed to address many issues in the domain of algorithm accountability and social media impact.
 
p We can not try to confront Facebook in a closed model. We can not be centralized, otherwise we are just a different Facebook.
 
p Because fbTREX’s assets are unique, rather than offering a product with finite limitations, fbTREX aims to enable anyone aligned with our mission to reuse the data we have gathered through collective observation. 

p We don’t want to sell the access to our data, we want to exist in the public interest. fbTREX should be seen as an infrastructure to facilitate the analysis of Facebook data by the target user groups, rather than a specific product based on top of scraped data. 

p Diversity ensures validity in testing. Diversity of users means a more varying observation of social media. Algorithms are affecting all kinds of people, from widely different locations, with different languages, cultures, and politics. It's important to understand how algorithms affect these very different groups of people, who make up the global community of social network users. 
We want to develop a reproducible method to measure the diversity of the debate observed and value our growing with such a metric; this is more important for us than the raw number of users.
