doctype html
html
  head
    link(rel='stylesheet', href='/css/reveal.css')
    link(rel='stylesheet', href='/css/reveal-solarized.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')

    script(type='text/javascript', src='/js/reveal.min.js')
    script(type='text/javascript', src="/js/reveal-head.min.js")
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/collapse.js')

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    title facebook tracking exposed

  body

    .reveal

      include header

      .slides
        section
          section
            include vision
            include mission
          section
            include extensionInstalled
          section
            include dataCollected
          section
            include dataExtracted
          section
            include partecipationBenefit
          section
            include background
          section
            include problemsInPA
          section
            include team

      script.
        Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true });
