doctype html
html
  head
    link(rel='stylesheet', href='css/index.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    script(type='text/javascript', src='js/lodash.min.js')

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title background - facebook.tracking.exposed

  body
    div.jumbotron
      div.head-text.center.fb-color
        div.container-fluid
          h1 facebook.tracking.exposed

    div.center.container
      h2 OPEN your BRAIN ઉ OPEN you EYES

    div.propaganda
      p.long When Facebook performed an experiment to see if it could secretly affect users' emotions, were you really surprised?

      p.long Academics were galled, knowing they would need explicit permission from research subjects and strict ethical oversight to perform such an experiment. A privacy group filed a complaint with the Federal Trade Commission, the journal that published the study later expressed concern, and some European nations began an investigation.

      p.long But many Facebook users responded with a shrug, having long accepted that targeted ads and extensive data collection are permanent features of life online.
