extend skeleton

block what

  p.random The filter bubble is a social problem, not a personal one. The effect is the misinformation of the masses. Only through a collective effort can we measure the problem, understand it, and resist it.

  p.random The filter bubble is personal and subjective: You can't see your own bubble because you're inside it. But if you focus your attention on it, you can probably accumulate the knowledge to escape. By comparing your filter bubble with those of other users, you can start to understand the logic behind why Facebook penalizes or promotes certain content.

  p.random Censoring content through algorithms is much easier than taking it down: If certain content gets removed, this can be seen by everybody. Yet if certain content gets heavily penalized through the logic of the bubble, then it is only the algorithm's fault: 
    span.text-success It is the perfect technocratic scapegoat!

block background

  p Along with Facebook’s ascension, we have seen the development of a new kind of editorial line based on our profiles. This new editorial line exploits the vulnerabilities of every user, as each user is profiled and quantified by their experience, interests, friendships, or lack thereof. Guaranteeing the ability of the people to exert their critical judgement of the news is my goal, and for this reason, I developed facebook.tracking.exposed.

  p Perhaps someone will wonder if my project violates the Terms of Service of Mark Zuckerberg’s platform. I don’t really care. From Facebook, I am extracting only metadata, the only thing that is truly necessary to begin the investigation. After all, “it’s only metadata.”

  p The scope of the project is to visualize the impact of algorithms over the perception of reality. We, citizen and user, are influenced by the information to which we are subjected. It is impossible for a person alone to understand Facebook’s logic, and its effects on society. For this reason I want to enable an open community of user, citizen, researcher, and journalist, because only together can they understand if the influence of the algorithm is in our interest. I don’t believe so. I hope that the user will someday be able to develop, choose, share, or even sell the algorithm they want to use, and that the platform will simply become a means of data transit.

  p Reflecting on how the internet has been revolutionary to driving news, mobilizing people, and stimulating new thoughts, it naturally follows that our right to information has to be updated for this new era. This is about our fundamental rights as an active and informed citizenry. The Terms of Service of Facebook may forbid me to crack open the algorithmic Pandora’s box, but it doesn’t matter; this right exists on a higher level, and if I have to exert civil disobedience toward a private entity, so be it.

  small(ahref id="/background") see more

block useit

  p This project acts as a third party in your service: it is able to measure how much these algorithms are not neutral.

  p By joining facebook.tracking.exposed, you can extract the meta-data of your Facebook timeline, and see in your own personal page how this is influenced. An open community of researchers can then 
    span.text-success analyze algorithm outcomes and keep Facebook accountable.
  small It will be hard ;) But it is only the beginning.

  p 1. Install the 
    a(href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo") Tampermonkey 
    |extension for Chrome. 
  span.smaller This currently does not work on Firefox -- but soon it will, just in Greasemonkey the script is silently failing.

  p 2. Install the 
    b facebook.tracking.exposed script
    |, just click 
    a(href="https://facebook.tracking.exposed/facebook.tracking.exposed.user.js") here
  .smaller If you want to know more, you are installing an 
    a(href="https://openuserjs.org/about/Userscript-Beginners-HOWTO") UserScript
    |.
  
  p Done! You will see the following symbol ઉ  and clicking on it will lead you to your personal page. [This feature will become available in late August]

  p.small
    b Details:
    | Now, when you open the Facebook page (only in the browser in which you have installed the above tools, not in the mobile app), you will send metadata to the project servers. [I'm currently conducting a privacy risk assessment; currently, sensitive metadata may be sent to the servers, use at your own risk and 
    a(href="https://github.com/vecna/ESCVI") check out the source code
    |.

  h3
    p.center Now what?
 
  div.container-fluid
    span.container-fluid.col-md-3.niceborder This is my 
      a(href="/") personal timeline graph
      |, I've shared willingly with anybody, if you don't share your own link, it will remain private. [This feature will become available in late August]
    span.col-md-1
    span.container-fluid.col-md-3.niceborder By using the RealityMeter [This feature will become available in late August], you can insert a post ID (which can be found in the URL of an individual post) and you will see how much and where that post appears in other users' feed. This can enable you to understand how much a post is promoted amongst different contributing users.
    
block getinvolved

  p Join us! New developers can contribute to extracting more meta-data from the Facebook page. Scraping can be more reliable, look at the: 
    a(href="https://github.com/vecna/ESCVI") code
    |, or to understand the plan, at the 
    a(href="https://github.com/vecna/ESCVI/issues") open tickets
    |.
  p I'm looking for a data-visualisation expert or designer who is able to show how an algorithm works through visualisation. If you're interested, please contact me at \\
  p Are you a researcher? Get in touch if you want to have a custom version of the script or the development of a specific API to support your research. 
      a.sug(href="#" id="groups" onclick="suggestion('groups');return false;") [Share your suggestions, ideas, or projects]

  p It is clear that institutions are not fast enough to catch up with corporate activities in the digital age, but it is essential to keep social values alive despite the arising technocracy. This project is aspirationally transnational, as the influence of Facebook is, is open to collaboration and can be forked. I don't want to replicate the centralized structure of power in a project intended to monitor such influence, so following update will permit interoperability across the nodes. 

There are a number of theoretical questions to be explored, and ideas to be discussed. If you're interested in being a part of the project, please get in touch.

block about

  p I'm 
    a(href="https://twitter.com/_vecna") Claudio Agosti
    |, I'm a European citizen; Started in '99 dwelling into the hacking scene, I later became passionate about information hiding,then in the broad meanings of privacy, then in anonymous whistlebowing and advocacy. I am dedicated to technopolitics.

  p I believe in 2016 the goal of a cypherpunk should longer simply be "encrypt everything". The power dynamics online have changed since the early '00s. Now transnational corporations use 
    a(href='https://medium.com/@_vecna/whatsapp-security-santa-or-cryptography-as-cost-reduction-40a201b46708') crypto as a method of cost reduction
    | and so many people have easy access to it, more space is freed up to focus on other goals. We must recognize the social media platform as a new infrastructure that cannot be escaped, and instead must be addressed as a technological challenge. In doing so, we can ensure that our privacy, security, and the neutrality of information are protected.

  p Challenging the network monopolies, challenging massive profiling, and the business dynamics supporting this, is my primary concern now. Telco, Big Data industries, and nations are in a fight against themselves. This offers a new opening for users; in this chaos, we have to preserve and increase the human rights on the Internet and be reactive to deal with abuses when they arise.

block thanks

  p Thank you to Barbara Anderlich, Philip Di Salvo, Alberto Granzotto, Brennan Novak, Andrea Ramondi, and Jillian York for their help with various aspects of the project.

  p This project would be impossible without the help of the network. I encourage you to get in touch, and 
    a(href="#getinvolved") get involved
    |!

block links

  .link.right 
    a(href="https://medium.com/message/ferguson-is-also-a-net-neutrality-issue-6d2f3db51eb0") Ferguson crisis and how Facebook penalizes content 
    .smaller (6 minutes reading) by 
      a(href="https://twitter.com/zeynep") Zeynep Tufekci

  .link.left 
    a(href="https://theintercept.com/2016/06/09/facebook-outreach-tool-ignores-black-lives-matter/") Facebook outreach tool ignores Black Lives Matter
    
  .link.right 
    a(href="https://www.theguardian.com/technology/2016/jun/07/its-your-duty-to-complain-thats-how-companies-improve") With big tech business making regular political and ethical blunders, it is our responsibility to complain – and let them know they must do better

  .link.left 
    a(href="https://hbr.org/2015/05/customer-data-designing-for-transparency-and-trust") Designing for Transparency and Trust

  .link.right 
    a(href="http://arxiv.org/abs/1606.08813") EU regulations on algorithmic decision-making and a right to explanation

  .link.left 
    a(href="http://www.recode.net/2016/6/14/11923286/facebook-emotional-contagion-controversy-data-research-review-policy-ethics") How Facebook's emotional contagion controversy led to the company's new research review policy

  .link.right 
    a(href="https://auditingalgorithms.wordpress.com/background-readings/") Long bibliography on Auding Algorithm

  .link.left 
    a(href="https://www.technologyreview.com/s/601696/facebooks-rules-for-experimenting-on-you/") Facebook rules on experimenting on you, or at least what they decided they can tell you

  .link.right 
    a(href="http://www.hackerfactor.com/blog/index.php?/archives/726-Facebook-Tracking.html") Technical analysis of Facebook tracking

  .link.left
    a(href="http://mobile.reuters.com/article/idUSKCN0ZB00M") Google, Facebook quietly moves toward automatic blocking of extremist videos

  .link.right
    a(href="http://www.bloomberg.com/view/articles/2016-07-05/facebook-is-bad-for-democracy") Facebook is bad for democracy 

  .link.left
    a(href="http://commondreams.org/views/2016/07/14/whats-good-facebook-not-so-good-democracy") What's good for facebook is not so good for democracy
