extend skeleton

block what

  p The filter bubble is a social problem, not a personal one. The effect is the misinformation of the masses. Only through a collective effort we can measure the problem, understand it, and resist it.

  p The filter bubble is personal and subjective: You can't see it your own bubble because you're inside it. But, if you focus your attention on it, you can probably accumulate the knowledge to escape. By comparing your filter bubble with those of other users, you can start to understand the logic behind why Facebook penalizes or promotes certain content.

  p Censoring content through algorithms is much easier than taking it down: If certain content gets removed, this can be seen by everybody. Yet if certain content gets heavily penalized through the logic of the bubble, then it is only "the algorithm's fault":
    b It is the perfect technocratic scapegoat.
    | In such a case: nobody is guilty. This project's aim is to act as a third party that is able to see how much and which content gets rarely seen by users.

  p By joining facebook.tracking.exposed, you can extract the meta-data of your Facebook timeline, and see in your personal private page how this is influenced. A open community of researchers can
    b analyze algorithm outcomes and keep Facebook accountable.
  | It will be hard, but it is only the beginning.
    
block how

  p 1. Install the 
    a(href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo") Tampermonkey 
    |extension for Chrome. 
  span.smaller This currently does not work on Firefox -- but soon it will, just in Greasemonkey the script is silently failing.

  p 2. Install the 
    b facebook.tracking.exposed script
    |, just click 
    a(href="https://facebook.tracking.exposed/facebook.tracking.exposed.user.js") here
  .smaller If you want know more, you are installing an 
    a(href="https://openuserjs.org/about/Userscript-Beginners-HOWTO") UserScript
    |.
  
  p Done! You will see the logo of Facebook change, on top of the page, and clicking in there will lead you to your tileline graph

  p Done! for more technical clarification tap 
    a(href="#" onclick="showtech();return false;") here

  p.techdetails Now, when you open the Facebook page (only in the browser in which you have installed the above tools, not in the mobile app), you will send non-sensitive metadata to the project servers. 

  h3
    p.center Now what?
 
  div.container-fluid
    span.container-fluid.col-md-3.niceborder This is my 
      a(href="TODO") personal timeline graph
      |, I've shared willingliy with anybody, if you don't share your own link, it will remain private. 
    span.col-md-1
    span.container-fluid.col-md-3.niceborder Understand how much your post get visibility/outreach: because the number of "impression" that facebook claims, what does really means considering that the publication order matter? look at the a(href="/visibility" target="_blank") visibility
      | page.
    span.col-md-1
    span.container-fluid.col-md-3.niceborder Researcher can study the impact of algorithm manipulation in groups. I don't know yet how let resarcher access to all the data collected, if you've some idea
      a.sug(href="#" onclick="suggestion('research');return false;") ઉ
      br 
      | A neat way to do research, is having a group of controller user. Studends, bot, or just a bunch of people tring to minimize their differencies in the next weeks. following the same persons, liking the same thing. This will uniform the differencies and permit easily to understand the content discriminaton. read more to the Research Groups
      a.sug(href="#" onclick="suggestion('groups');return false;") ઉ
    |.
  

block vision

  p Researchers can use the API to do research on the Filter Bubble. 
    b No payment to access the website will ever be demanded
    | , but considering we are challenging one of the wealthiest concepts of the last decades, we have to try to distribute the effort through cooperation.

  p Structures with money can run their own server and offload mine. I want to make a public resource of what can be considered one of the secret powers of this Internet world. If you participate in the network, you will not have any special benefit besides knowing how much Facebook has tampered with your timeline. If you want to support us with a server, you will simply have faster access for conducting your research.

  p No private content is collected. No harm can be done to your Facebook account by Facebook. 
    b You are not violating the Terms of Service
    | , and this technology is not using the Facebook API. It is only extracting metadata (what|when|where|why) of what you see in your timeline. This way researches can then look for patterns and you will receive some stats (page still in TODO)

  p New developers can contribute to extracting more meta-data from the Facebook page. Scraping can be more reliable, look at the: 
    a(href="https://github.com/vecna/ESCVI") code
    |, or to understand the plan, at the 
    a(href="https://github.com/vecna/ESCVI/issues") open tickets
    |.
  p Advocates, journalists, and technimagicians: I want to localize these pages and leverage on local struggles to promote the tech. I don't believe the Filter Bubble analysis will sound sexy enough to get a large amount of user, and the user base is necessary (always). from US you see a different opening messages compared to what you see if you come from Pakistan.
  p Nations can be covered in the same way, suggests yours political conflict 
    a.sug(href="#" onclick="suggestion('declination');return false;") ઉ
    |.
  p Algorithms have to be explained and not treated as dark magic. Which are the variables considered? what weighs more in the final outcome? Algorithm discrimination will be a huge topic, and having ways to be understood by non-technical audiences is necessary considering the impact of algorithm on each one of us.

block background

  p My name is 
    a(href="https://twitter.com/_vecna") Claudio Agosti
    | you can reach me at claudio@tracking.exposed
    |, I used to work on the anonymous whistleblowing framework 
    a(href="https://en.wikipedia.org/wiki/GlobaLeaks") GlobaLeaks
    |), and in the last two years I have spent most of my time at
    a(href="https://tacticaltech.org") TacticalTech.

  p.smaller Despite me sharing my Twitter handle above, I don't want to endorse centralized services, but in this phase of the project I see the compromise one has to take between a huge outreach and the practical tool that has become the de facto standard. Sooner or later there will be published a personal policy in identity compartimentalisation (what does this sentence mean).

  h4.harsh personal rant
  p I'm in love with technopolitics, I believe in 2016 the goal of a cypherpunk is no longer "encrypt everything". The power dynamics online have changed since the early '00. Now transnational corporation use 
    a(href='https://medium.com/@_vecna/whatsapp-security-santa-or-cryptography-as-cost-reduction-40a201b46708') crypto as cost reduction
    |, the challenges nowadays are others.
  p Challenging the network monopolies, challenging massive profiling, and the business dynamics supporting this, is my primary concern now. Telco, Big Data industries, and nations are in a fight against themselves. This offers a new opening for users, in this chaos, we (users) have to at least guarantee the preservation of human rights on the Internet and challenge abuses when they arise.
  p It is clear that institutions are not fast enough to catch up with corporate activities in the ditigal age. This action is composed by a mix of technology, political activism and psycology of the networks. Is completelty transnational, and is open to any collaboration via the project-defined directions that you can see pressing over this
    span .green ઉ
    | recurring symbol.

  h4.harsh Funding, €, $, £, ₹
  p Who deal with fundraising and see that this project can fit in a project, can submit with me. will receive as compensation the 30% of the funding received.
  h4.harsh Tax deducible donations
  p Thanks to the Center for Cultivation of Technology, this is one of the pilot project for OSS project in which you can donate 

block moar

  p The Filter Bubble is more of a social issue than a personal issue: You can spend effort to escape it, and actively keep in mind that it exists, but this is a minority questioning what they are perceiveing (what does the last sentence mean or relate to?). 
  P Society is undefended against an entity that can influence our learning process, so
  p What I want is: to have only chronologically unfiltered content. The decision of which algorithms, visualisations, correlations, suggestions, and meta-data will happen lies on the client's side. User choice.

  .link.right 
    a(href="https://medium.com/message/ferguson-is-also-a-net-neutrality-issue-6d2f3db51eb0") Ferguson crisis and how Facebook penalizes content 
    .smaller (6 minutes reading) by 
      a(href="https://twitter.com/zeynep") Zeynep Tufekci
    |It is good that a person like the author poses herself the question: But what about all the things you are not an expert in? Or you are not actively looking into knowing more? All those times, you will simply not notice how the Filter Bubble manipulates you.

  .link.left 
    a(href="https://theintercept.com/2016/06/09/facebook-outreach-tool-ignores-black-lives-matter/") Facebook outreach tool ignores black live matter
    |A product intended to satisfy the users is discover to generate impartial results, if this behavior is human driven or algorithm driven is unclear.

  .link.right 
    a(href="https://www.theguardian.com/technology/2016/jun/07/its-your-duty-to-complain-thats-how-companies-improve") With big tech business making regular political and ethical blunders, it is our responsibility to complain – and let them know they must do better

  .link.left 
    a(href="https://hbr.org/2015/05/customer-data-designing-for-transparency-and-trust") Designing for Transparency and Trust
    .smaller I share some points of this vision. I want to see Cloud provider do open data, weekly updates, about which kind of meta-data they have. Doing full algorithm transparency about how the data in their hands are used and analyzed. Not the algorithm itself, but which are the variables kept in account.

  .link.right 
    a(href="http://arxiv.org/abs/1606.08813") EU regulations on algorithmic decision-making and a right to explanation

  .link.left 
    a(href="http://www.recode.net/2016/6/14/11923286/facebook-emotional-contagion-controversy-data-research-review-policy-ethics") How Facebook's emotional contagion controversy led to the company's new research review policy

  .link.right 
    a(href="https://auditingalgorithms.wordpress.com/background-readings/") Long bibliography on Auding Algorithm

  .link.left 
    a(href="https://www.technologyreview.com/s/601696/facebooks-rules-for-experimenting-on-you/") Facebook rules on experimenting on you, or at least what they decided they can tell you

  .link.right 
    a(href="http://www.hackerfactor.com/blog/index.php?/archives/726-Facebook-Tracking.html") Technical analysis of Facebook tracking

  .link.left
    a(href="http://mobile.reuters.com/article/idUSKCN0ZB00M") Google, Facebook quietly move toward automatic blocking of extremist videos
    .smaller but blocking is still a binary behavior, can be detected. This prject is more worried on heavy penalisation of content, causing that who looks actively for the content found it, who don't, just will never see it

  .link.right
    a(href="http://www.bloomberg.com/view/articles/2016-07-05/facebook-is-bad-for-democracy") Facebook is bad for Democracy 

  .link.left
    a(href="http://commondreams.org/views/2016/07/14/whats-good-facebook-not-so-good-democracy") What's good for facebook is not so good for Democracy
