block getinvolved

  h2 Get involved

  p If you are a researcher and your work is concerned with technopolitics, the social effect of filtering or with digital human rights, feel free to get in touch. We are happy to discuss new direction of development of fbtrex with you, share a custom version of the script or develop specific API to support your research.

  p We are looking for new developers to contribute and extract more meta-data from Facebook pages. Scraping can be more reliable, look at the: code, or to understand the plan, at the open tickets.

  p We welcome contributions from data expert or designer who is able to show how an algorithm works through visualisation. If you're interested, please contact me at claudio at tracking dot exposed.


