block header
  
  div.container
    div.topheader

      div.col-4
       a(href="/")
        h3
          span.blue facebook
          |.
          span.orange tracking
          |.
          span.green exposed

      div.col-4
        img.fbtrexlogo(alt="logo of fbtrex" src="/images/fbtrex_logo.svg")
