block header
  
  div.container-fluid
    span.col-xs-2.center
      img(src="/images/fbtrex_logo.svg")
    span.col-xs-8
      p.big
        span.blue facebook
        |.
        span.orange tracking
        |.
        span.green exposed
    span.col-xs-2.center
      img(src="/images/fbtrex_logo.svg")

