extend default

block content
  p.
    Lorem ipsum dolor sit amet, pri tacimates salutatus forensibus ea. Sit ceteros hendrerit
    consequuntur an, dicta tibique eu vis. Habeo impetus comprehensam te nam, in sit feugait
    principes. Cibo possit oblique qui cu, aperiri vivendum sed ne. Minim repudiare ne cum,
    ex graeco quodsi ius.

  p.
    Epicurei constituam sed at, id placerat similique tincidunt eam. Te quas inermis nominavi
    vel, in sea erant debitis reformidans, an cum eripuit democritum. Usu modus primis et, his
    errem scripserit cu. Mea cu aperiri repudiandae, id sit offendit noluisse torquatos. Sit
    te suas fastidii, cum nonumy iriure maluisset at, vix te graeco moderatius argumentum.
