doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/d3.min.js')
    script(type='text/javascript', src='/js/impact.js')
    title ઉ Impact

  body(onload="displayTimeAdoption('#timeAdoption');")
  
  .container-fluid
    .jumbotron
      h1 ઉ Impact
      h3 The meta-data owned by this node, are public and part of the process

  .container-fluid
    .propaganda
      p Since the Summer 2016 facebook.tracking.exposed is in Alpha release, below the graph of the collected data

  .container-fluid
    div(id="timeAdoption")
