doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/c3.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/d3.min.js')
    script(type='text/javascript', src='/js/c3.min.js')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/local/impact.js')
    title ઉ Impact

  body(onload="displayTimeAdoption('#timeAdoption'); displayCountryPie('#countrypie');")
  
  .container-fluid
    .jumbotron
      h1 ઉ Impact
      h3 The meta-data owned by this node, are public and part of the process

  nav.navbar.navbar-default
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
          span(id="sr-only") Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      div.collapse.navbar-collapse(id="thenavbar")
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/realitymeter') RealityMeter
          li
            a(href='/netzpolitick/') Slides

  .container-fluid
    .simpletext
      h2 Adoption statistics
      p Since the end of Summer 2016 facebook.tracking.exposed is in α release, below the graph of the collected data.
      p Simple breakdown: #{users} unique users provided #{posts} posts in #{timelines} timelines.

  .container-fluid
    div(id="timeAdoption")

  .container-fluid
    .simpletext
      h2 Number of refreshes collected by Nation

  .container-fluid
    div(id="countrypie")

  div.footer
