doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    meta(property="og:title" content="facebook.tracking.exposed")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Facebook Tracking Exposed is a web browser addon that collects the stories visible in your Facebook News feed and a website that aggregates that data from all the users who have the addon installed. Our vision is to increase transparency behind personalization algorithms")
    meta(property="og:url" content="https://facebook.tracking.exposed")
    meta(property="og:image" content="https://facebook.tracking.exposed/images/fbtrex_logo-1000x1000.png")
    title facebook tracking exposed

  body

    include header

    include navbar

    div#vision
      div.polite-propaganda
        include vision

    div#mission
      div.propaganda
        include mission

    div#background
      div.propaganda
        include background

    div#problemsInPA
      div.propaganda
        include problemsInPA

    div#useit
      div.propaganda
        include useit

    div#alpha
      div.propaganda
        include alpha

    div#getinvolved
      div.propaganda
        include getinvolved 

    div.footer 
