doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    meta(property="og:url" content="https://facebook.tracking.exposed")
    meta(property="og:image" content="https://facebook.tracking.exposed/images/fbtrex_logo.svg")
    title facebook tracking exposed

  body

    include header

    nav.navbar.navbar-default
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
            span(id="sr-only") Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.collapse.navbar-collapse(id="thenavbar")
          ul.nav.navbar-nav
            li
              a(href='#vision') What
            li
              a(href='#useit') Use It 
            li
              a(href='#alpha') The Experience done
            li
              a(href='#team') About Us
            li
              a(href='/impact') Stats
            li
              a(href='/talks/') Talks


    div#vision
      div.polite-propaganda
        include vision

    div#mission
      div.propaganda
        include mission

    div#background
      div.propaganda
        include background

    div#problemsInPA
      div.propaganda
        include problemsInPA

    div#useit
      div.propaganda
        include useit

    div#alpha
      div.propaganda
        include alpha

    div#getinvolved
      div.propaganda
        include getinvolved 

    div#team
        div.propaganda
            include team

    div#links
      div.propaganda 
        include links

    div.footer 
