doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')

    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/local/manualboarding.js')

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Admin!FTE 

  body
 
    div.jumbotron
      div.head-text.fb-color
        div.container-fluid
          h2 Admin!FTE

    div.propaganda

      .form-group
        label(for="supporterid") SupporterId:
        input(id="supporterid" class="form-control" type="text")
      .form-group
        label(for="publickey") Public Key:
        input(id="publickey" class="form-control" type="text")
      .form-group
        label(for="pwd") admin password:
        input(id="pwd" class="form-control" type="password")
      input(type="submit" onclick="s();" class="btn btn-info" value="Go")

