block mission
 
  div.left
    p Our 
      span.italic mission 
      span is to help researchers assess how current filtering mechanisms work and how personalization algorithms should be modified in order to minimize the dangerous social effects.

