block navbar
  nav.navbar.navbar-expand-sm.bg-light
    li
      a(href='/') home
    li
      a(href='/initiatives/') RESULTS 
    li
      a(href='/privacy-statement') privacy
    li
      a(href='/project') PROJECT DESCRIPTION
    li
      a(href='/impact/') stats
    li
      a(href='/about') ABOUT
