block navbar

    nav.navbar.navbar-default.navbar-static-top
      div.container
        div.collapse.navbar-collapse(id="thenavbar")
          ul.nav.navbar-nav
            li
              a(href='/') home
            li
              a(href='/initiatives/') KNOW MORE 
            li
              a(href='/privacy-statement') privacy
            li
              a(href='/project') PROJECT
            li
              a(href='/impact/') stats
            li
              a(href='/about') ABOUT
