block navbar

  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/') fbTREX
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/initiatives/') Publications & Talks
        li.nav-item
          a.nav-link(href='/privacy-statement') What we collects and why
        li.nav-item
          a.nav-link(href='/project') Know more
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/impact/') Statistics

