block navbar

    nav.navbar.navbar-default.navbar-static-top
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
            span(id="sr-only") Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.collapse.navbar-collapse(id="thenavbar")
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/initiatives/') Results
            li
              a(href='/privacy-statement') Privacy 
            li
              a(href='/project') Project plan
            li
              a(href='/impact/') Stats
            li
              a(href='/about') About
            
