doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/pages.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title The Netherlands election, Facebook monitor

  body
 
    include header
    include navbar

  div.container-fluid.highlight This message is intended for researchers and journalists concerned by Facebook influence over national election (or other politically sensitive topic, as referendum, strike, protests, campaigns …) 

  div.container-fluid.block

    p.paragraph 
      b We focus on the Netherland elections call. See below if the topic appears often in your Facebook newsfeed, before the 15 of March 2017.

    p.paragraph One crucial element for the developing an effective public debate is an informed citizenship. A number of recent episodes in the history of global politics have shown, however, that informed citizenship is the result of many different social influences. Among these, media contents –their distribution and their filtering–  have sometimes impaired, rather than helped, citizens to engage in public debate. Fake news, partially distorted news, conspiracy theories or just misleading messages, have strong impact on our ability to track the truth in conversations. But there are no easy scapegoats. To blame only citizens is, in the cases mentioned, just to blame the victim; and to blame only technology is to exclude from the analysis their social value, i.e. what’s their role in shaping our social understanding. 
    p.paragraph Distorted public debate is particularly dangerous in cases of political decision-making, such as general elections. In all these cases, responsibility attribution is a serious issue, but evidence collection for this attribution might be extremely difficult, since the aforementioned interplay is sensitive to time.
    p.paragraph Our proposal is to analyse the interplay between the way information is algorithmically structured and the resulted informed agency. In particular, we focus on how facebook’s personalization algorithms present reality to users and how the differences in the realities so presented influence agents’ capacity for informed decision-making. 
    p.paragraph facebook.tracking.exposed is a tool designed to collect time-sensitive evidences from each users’ reality, the one created for them by personalization algorithms. Our goal is to provide a structured set of evidences  that can be used after the election for research and analysis.

  div.container-fluid.highlight How to use facebook.tracking.exposed

  div.container-fluid.block

    p.paragraph Just go to 
      a(href="https://chrome.google.com/webstore/detail/facebooktrackingexposed/fnknflppefckhjhecbfigfhlcbmcnmmi") and install the web extension for Chrome 
      | Login in your Facebook account and follow the 
      b onboarding 
      | procedure to join the project facebook.tracking.exposed

    p.paragraph The public post appearing in your timeline would be saved and available along all the other submitted data from the netherlands. This will allow to see, for example, which posts were promoted by whom; if the likes where growing homogeneously; if the comments share artificial or human patterns of distribution. There are a number of analysis that can be performed with this set of data; however, in order to ensure the validity of any analysis, it is crucial to spread the browser extension between an heterogeneous set of users. In this way, the social network realities of the users before the election can be properly recorder.

  div.container-fluid.highlight FAQ

  div.container-fluid.block

    p.paragraph If you've any question, feel free to write to 
      b support at tracking dot exposed
      |, questions in the public concern would be answered here.
