doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/bootstrap.min.js')
    script(type='text/javascript', src='/js/local/suggest.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    title facebook tracking exposed

  body
 
    div.jumbotron
      div.head-text.center.fb-color
        div.container-fluid
          h1 facebook.tracking.exposed
      div.container-fluid
        p.smile.center description 
          span.green 75% 
          | ⌁ infrastructure 
          span.red 20% 
          | ⌁ time 
          span.yellow endangered 
          | ⌁ stability  
          span.red ALPHA STAGE 
          | ⌁ funding 
          span.red 
            a(href="https://paypal.me/claudioGifts", target="_blank") Zero

    nav.navbar.navbar-default
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
            span(id="sr-only") Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.collapse.navbar-collapse(id="thenavbar")
          ul.nav.navbar-nav
            li
              a(href='#vision') What
            li
              a(href='#useit') Use It 
            li
              a(href='#team') About Us
            li
              a(href='/impact') Stats


    div#vision
      div.polite-propaganda
        include vision

    div#mission
      div.propaganda
        include mission

    div#background
      div.propaganda
        include background

    div#problemsInPA
      div.propaganda
        include problemsInPA

    div#useit
      div.propaganda
        include useit

    div#getinvolved
      div.propaganda
        include getinvolved 

    div#team
        div.propaganda
            include team

    div#links
      div.propaganda 
        include links

    div.footer 
