doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    title ઉ data Overseer

  body
  
  .container-fluid
    .jumbotron Overseer

  .container-fluid
    .propaganda
      p This page is intended to tell publicly open data about the meta data owner by this node. To ensure cooperation and data sharing, who runs the service receive the user timeline, and through API other researcher can access over it.
      p A privacy risk assessment has still to be done. The information returned has to be pseudo-anonymized hashing the usedId of the contributor; This is not yet done.

