doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/d3.min.js')
    script(type='text/javascript', src='/js/filterbubblesimple.js')
    script(type='text/javascript', src='/js/suggest.js')
    title facebook.tracking.exposed ઉ personal page

  body(onload="displayBubbleStyle1(#{profileId}, '#coreinfo'); displayStatsStyle1(#{profileId}, '#statsinfo');")

  .container-fluid
    .jumbotron
      h2 ઉ This is how a algoritm manipulation looks like
      h3 you are seeing timeline of user "
        a(href="https://www.facebook.com/#{profileId}") #{profileId}
        |"

  .center.smaller as you are guessing, this visualisation is still a work in progres...

  .container-fluid
    h3 ઉ Statistics, based on information you send 
    div(id="statsinfo")

  .container-fluid
    h3 ઉ timeline
    div(id="coreinfo")

  .container-fluid
    p If you feel you've guess why facebook is penalizing/promoting something to you, feel free to share your 
      a.sug(href="#" id="interpretation" onclick="suggestion('interpretation');return false;") [Interpretation]
      |  with us.

