doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/d3.min.js')
    script(type='text/javascript', src='/js/filterbubblesimple.js')
    script(type='text/javascript', src='/js/suggest.js')
    title facebook.tracking.exposed ઉ personal page

  body(onload="displayBubbleStyle1(#{profileId}, '#coreinfo'); displayStatsStyle1(#{profileId}, '#statsinfo');")

  .container-fluid
    .jumbotron
      if profileId !== 0
        h2 ઉ This is how a algoritm manipulation looks like
        h3 User: "
          a(href="https://www.facebook.com/#{profileId}") #{displayName}
          |"
      else
        h2 ઉ This 
          b would show 
          | how algoritm manipulation looks like...
        h1.center Unfortunatly, the userId requested do no exists in this system.

  nav.navbar.navbar-default
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#claudiosnavbar" aria-expanded="false")
          span(id="sr-only") Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      div.collapse.navbar-collapse(id="claudiosnavbar")
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/realitymeter') RealityMeter
          li
            a(href='/overseer') Overseer
          li
            a(href='/slides-long') Slides

  if profileId !== 0
    .center.smaller Visualisation not yet implemented
    .center.smaller Visualisation not yet implemented
    .center.smaller Visualisation not yet implemented

    .container-fluid
      h3 ઉ Statistics, based on information you send 
      div(id="statsinfo")

    .container-fluid
      h3 ઉ timeline
      div(id="coreinfo")

    .container-fluid
      p If you feel you've guess why facebook is penalizing/promoting something to you, feel free to share your 
        a.sug(href="#" id="interpretation" onclick="suggestion('interpretation');return false;") [Interpretation]
        |  with us.

