doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title background thoughts on facebook.tracking.exposed

  body
    include header

    nav.navbar.navbar-default
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded
="false")
            span(id="sr-only") Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.collapse.navbar-collapse(id="thenavbar")
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/talks/') Talks


    div.propaganda
      h1 Privacy Statement
      smaller 9 December 2016, version 1.0
      h2  1. What is Facebook Tracking Exposed?
      p Facebook Tracking Exposed, or fb.tr.ex, is two things: a web browser addon that collects the stories visible in your Facebook Newsfeed, and a website that aggregates that data from all the users who have the addon installed. Everything we do is open source so you can see how it works and help make it better.

      h2  2. Why is this important?
      p As a society, we are getting more and more of our information about the world from social media, especially from Facebook. Facebook users get a selection of the status updates, photos, and links shared by their Facebook friends. But how does Facebook decide what to show us in our Newsfeed? What stories are emphasized and what stories are hidden? Facebook’s Newsfeed algorithm lives in shadows.
      p We think this is dangerous for the internet and for society as a whole. It’s important that we understand how such a major news source works. We want to know what we are being shown and why. We want to open up the Facebook black box and shine a light inside.

      h2 3. What about privacy?
      p To understand how the Newsfeed selects what we see, we need to look at a lot of Newsfeeds. That means collecting a lot of data. We understand that this might be creepy to some people, so we are taking steps to minimize the data that is collected while still achieving our goals.
      p Here is how we are protecting your privacy:
      ul.fb--icon-list
        li 
          b Opt-in 
          | To take part in fb.tr.ex, you have to opt in by installing the web browser addon. We make it very clear that you are taking part, and we make you jump through some extra hoops to make sure you understand what you are signing up for.
        li
          b Public posts 
          | Fb.tr.ex only collects posts that are flagged as “Public” on Facebook, meaning anyone in the world could view these posts, even if they do not have a Facebook account. “Public” posts are explained on the Facebook help site. 
        li
          b Opt-out 
          | According to the Facebook Statement of Rights and Responsibilities, when you post something as Public, you are allowing anyone to use it - including us. If you want to opt out of fb.tr.ex entirely, you can do so by making sure none of your posts are set to Public.

      h2  4. What information do we collect?
      p If you install fb.tr.ex, we collect:
      ul.fb--icon-list
        li Your Facebook user ID;
        li Your IP address each time you refresh your Newsfeed;
        li The date and time each time you refresh your Newsfeed;
        li The date and time of the impression of every post on your Newsfeed;
        li The position of every post in your Newsfeed; and
        li The HTML section of every Public post in your Newsfeed.

      h2 5. How do we use the information we collect?
      p We will use the information we collect only for the purposes of understanding the Facebook Newsfeed algorithm, improving the addon, and improving our methodology. We let you see this information to help you understand where you are in the Facebook world.

      h2 6. How do we share the information we collect?
      p We will never sell or share your personally identifiable information with anyone else. We remove as much personally identifiable information as we can, then post the information on our website so third parties can also analyse the information. Some personally identifiable information may remain in the information we post to our website if it was in the HTML of the Public post.

      h2 7. Will you stop collecting my information?
      p Yes. If you want us to stop collecting your information, just uninstall the web browser addon. If you want us to delete the information we’ve already collected, send a request to support﹫tracking・exposed, or mention it in our facebook page: 
        a(href="https://www.facebook.com/personalizationalgorithm") Personalisation Algorithms
        |  - contact us including your Facebook User ID and we will delete everything you’ve submitted. Please be aware that other people may have made a copy of the data while it was available on our website. We cannot force them to delete the copy.

