doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    meta(property="og:title" content="facebook.tracking.exposed")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Facebook Tracking Exposed is a web browser addon that collects the stories visible in your Facebook News feed and a website that aggregates that data from all the users who have the addon installed. Our vision is to increase transparency behind personalization algorithms")
    meta(property="og:url" content="https://facebook.tracking.exposed")
    meta(property="og:image" content="https://facebook.tracking.exposed/images/fbtrex_logo-400x400.png")
    meta(property="og:image:width" content="400")
    meta(property="og:image:height" content="400")
    title facebook tracking exposed

  body

    include header
    include navbar

    div#project
      div.polite-propaganda
        h2 What is the problem?

        p
        ul 
            li Facebook has tremendous global reach and influences thinking in many places
            li   The ways in which FB selects information to be presented to individual users are not well understood
            li    Algorithms are like social policies; they should be in public discussions, they can’t be imposed.
            li    Users has been used as rats lab in psychological and social experiment
            li   There are strong evidences on the impact the algorithm can, and has, in the society
            li   There is no transparency (with a data policy) from FB
            li   Facebook claim the complexity of the algorithm it is so huge no engineer can understand or explain the internals, making in the algorithm the perfect technocratic scapegoat
