doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    meta(property="og:title" content="facebook.tracking.exposed")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Facebook Tracking Exposed is a web browser addon that collects the stories visible in your Facebook News feed and a website that aggregates that data from all the users who have the addon installed. Our vision is to increase transparency behind personalization algorithms")
    meta(property="og:url" content="https://facebook.tracking.exposed")
    meta(property="og:image" content="https://facebook.tracking.exposed/images/fbtrex_logo-400x400.png")
    meta(property="og:image:width" content="400")
    meta(property="og:image:height" content="400")
    title facebook tracking exposed

  body

    include header
    include navbar

    div#project
      div.polite-propaganda
        h2 What is the problem?

        ul.fb--icon-list 
            li The ways in which FB selects information to be presented to individual users are not well understood.
            li Algorithms are like social policies; they should be available for public scrutiny
            li Users has been used as rats lab in psychological and social experiments.
            li Among all the algorithms crossing our life, Facebook's coordinate how people perceive the reality; besides the enormous audience, it is personalized, making it even harder to scrutiny.
            li How the data are treated, assimilated, analyzed, used and re-purposed is not said by Facebook Data Policy.
            li Facebook claims  
                a(href="https://psychcentral.com/blog/archives/2017/05/02/even-facebook-doesnt-understand-facebooks-algorithms/") the complexity of the algorithm it is so huge no engineer can understand or explain the internals
                |, making the algorithm the perfect technocratic scapegoat

        h2 What are the goals
        p Overall
        ul.fb--icon-list
            li To observe, evaluate, and better understand Facebook algorithm, in particular how FB leverages and profits from promoted content.
            li To develop awareness on how Facebook operate the business of promoted contents.
            li To enable researchers from non-technical fields to analyze the social media.
        p For users of FB
        ul.fb--icon-list
            li To enable better understanding of the critical issues and their implications.
            li To raise awareness around the concept of “algorithm diversity” or “the right to pick your algorithm.”
            li To provide users with a persistent record of their timeline.
        p For research
        ul.fb--icon-list
            li To serve as a neutral actor, reliably providing research-quality data for analysis.
            li To engage diverse research audiences to utilize the data, prioritizing and encouraging interdisciplinary approaches.
        p For FB
        ul.fb--icon-list
            li Over the long term, get FB to give users greater transparency and greater agency over how they experience the algorithm.
            li To encourage FB to publish more open data describing the social phenomena happening in the social media.

        h2 How we intend to work toward the goals
        ul.fb--icon-list
            li Overall, the approach is based on broadly distributed collection of individual user experiences with FB feeds from their respective observation points, utilizing a networks of volunteers and bots
            li Using a web-extension, we will collect data on what each user sees on their public timeline.
            li Extract the metadata from the data submitted, and make this dataset available to researchers.
            li Produce visualizations and renderings of how different users experience the FB algorithm.
            li Use research findings to inform both advocacy and user education.

        h2 What needs to be done next? 
        p Overall, we are open to advice, partnership, and collaboration with all interested parties.
        p Our roadmap includes the following milestones:
        p
            b Improve the software
        ul.fb--icon-list
            li Improve the code of the parsers. They are self-contained, small components that extract metadata from the posts seen from the user.

        p
            b Establish community processes
        ul.fb--icon-list
            li Write a visually and formally clear data policy, explain the life-cycle of the data and where third party and users interact with us in an exemplary way.
        p
            b Write an ethical agreement to
        ul.fb--icon-list
            li permit the third party accessing the database of collected observations, in order to protect the supporters against social media intelligence; 
            li the third party shall not sell, monetize, publish, reuse or analyze and copy outside the scope of the agreed analysis. 
            li As safeguards, the algorithms runs on the database are declared and formalized, we execute the script, providing an API for the owner.
        p
            b Engage and support researchers
        ul.fb--icon-list
            li Provide support for research organizations as early adopters.
            li Presentation at SHA2017 in August, call for engagement. We have done other
                a(href="https://facebook.tracking.exposed/initiatives") public appearance
                |.
