h2 List of RSS readers
h3 Cross-platform
h6
ul
  li
    strong
      a(href='https://feedly.com/' rel='nofollow') Feedly
    | : Not open source but it&apos;s easy to use. requires registration but not a valid email. web based, also available for iOS and android. Tested.
  li
    strong
      a(href='https://getstream.io/winds/' rel='nofollow') Winds
    | : binaries for Windows, OSX and GNU/Linux. It&apos;s open source but come with pre-subscribed feeds, which might be confusing. Requires registration but not a valid email. Tested.
h3 OSX
ul
  li
    strong
      a(href='https://github.com/ViennaRSS/vienna-rss/releases/tag/v/3.5.3') ViennaRSS
    | : open source, pre-compiled binaries, compatible with Mojave.
h3 Android
ul
  li
    strong
      a(href='https://play.google.com/store/apps/details?id=net.frju.flym&hl=en_US' rel='nofollow') Flym
    | , FOSS alternative. Tested.
h3 Other resources
ul
  li
    a(href='https://en.wikipedia.org/wiki/Comparison_of_feed_aggregators' rel='nofollow') Wikipedia&apos;s comparison of feed readers
  li
    a(href='https://github.com/topics/rss-reader') Readers available on github
