doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    title ઉ RealityMeter

  body
  
  .container-fluid
    .jumbotron
      h1 RealityMeter
      h3 Because every Social Media manager what this bucket of reality!

  .container-fluid
    .propaganda

      p When you publish a post in a page, Facebook tell you how many 
        b impressions
        | your post got. But what does it means? In the user timeline, does the post appeared many time in favorable position, or just one and then get disappeared from the user feed? 
        b Now you can know it! 

      .container
        input(type=text class="center tif" value="postId" onenter="javscript: submit()")

      p Right now, #{users} users contribute to facebook.tracking.exposed, and among them the research is performed. If you are a social media manager and you want to know the true outreach of your material, spread facebook.tracking.exposed to your friend, followers, audience.

    h3 ઉ See the most detailed post from the archive

      .container
        div(id="listofexmplepost")

