doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    meta(property="og:title" content="facebook.tracking.exposed")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Sorry, this interface is broken!")
    meta(property="og:url" content="https://facebook.tracking.exposed")
    meta(property="og:image" content="https://facebook.tracking.exposed/images/fbtrex_logo-400x400.png")
    meta(property="og:image:width" content="400")
    meta(property="og:image:height" content="400")
    title facebook tracking exposed

  body

    include header
    include navbar
    
    div.container-fluid.mainstyle

        h2 Hi! is the 2018, this project run over a major update cycle:
        p.text The interface for the used, temporary-former-codename '
            i realitycheck
            |', is discontinued, If you are using chrome, you should know the story of when 
            a(target="_blank" href="https://www.openrightsgroup.org/blog/2018/facebook-don%E2%80%99t-want-you-to-know-how-their-algorithm-works") Google Chrome TakeDown our browser extension
            |. Alledegly was a  
            i trademark infringment 
            | for the presence of 'Facebook' in the name (meh!). Despite the renaming in '
            b tracking.exposed: investigating algorithm
            |', they just keep the take down without any further justification. So, you can't get your update, if not uninstalling your extention and reinstall the new one (different link, different extension Id, but basically the same code), plus:
        ul.fb--icon-list
            li Spanish language is supported
            li Work in progress in the new personal interface, you can see the 
                a(href="/personal/anonymous") anonymous timeline here
                |.
            li We got some nice success in analyzing the Facebook algorithm in Argentina (check it out the 
                a(href="https://webfoundation.org/research/the-invisible-curation-of-content-facebooks-news-feed-and-our-information-diets/") report written by the WebFoundation
                |).
            li Inspired by 
                a(href="https://legacy.gitbook.com/book/hintjens/social-architecture/details") Social Architecture - Building On-line Communities
                |, I'm trying to replicate the 
                a(href="https://rfc.zeromq.org/spec:42/C4/") Collective Code Construction Contract
                |, or C4. 
            li If you are a data analyst or want to play with data, 
                a(href="https://github.com/tracking-exposed/experiments-data/tree/master/e18") we released the full dataset obtain during the Italian 2018 electoral campaign experiment
                |. It is a Mix of two data sources: 100% of the post shared by 30 pages and what Facebook decided to show to 6 bots run buy us. The bots were following only the said 30 pages, the only difference among them was few 
                i like
                |, and still the quality and diversity of the information shifted seriously.
            li Firm documentation and specification on our data-reuse logic. Provided actual protection to the data users submit. Their data are accessible only to themselves, only via opt-in and/or personl choice they can share the access to others. 


        h2 On C4  
        p.text C4 is meant to provide a reusable optimal collaboration model for open source software projects. It has these specific goals:
        ol
            li To maximize the scale and diversity of the community around a project, by reducing the friction for new Contributors and creating a scaled participation model with strong positive feedbacks;
            li To relieve dependencies on key individuals by separating different skill sets so that there is a larger pool of competence in any required domain;
            li To allow the project to develop faster and more accurately, by increasing the diversity of the decision making process;
            li To support the natural life cycle of project versions from experimental through to stable, by allowing safe experimentation, rapid failure, and isolation of stable code;
            li To reduce the internal complexity of project repositories, thus making it easier for Contributors to participate and reducing the scope for error;
            li To enforce collective ownership of the project, which increases economic incentive to Contributors and reduces the risk of hijack by hostile entities. 


