h1 VI. Similar Projects

p
  ul
    li DataSelfie (article, website) has been discontinued by the author, but is a good example of what  an information diet is. The issues Hang faced were in maintenance and costs for metadata analysis, we don’t have the same limitation, but we have a far poorer UX design.
    li ProPublica Political Ad Collector: has a similar approach in data collection of fbTREX, but focuses on political advertising.
    li WhoTargetsMe developed by political researchers in UX, has been used to raise attention on the grey area of political advertising and electoral campaign money. It is used to produce results for the electoral authority.
    li OpenHumans is one of our potential partners, they want to collect data to open up to researchers upon an ethical agreement, fbTREX might be one of their sensor in regards to Facebook.