doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/bootstrap.min.js')
    script(type='text/javascript', src='/js/local/suggest.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    title facebook tracking exposed

  body
 
    div.jumbotron
      div.head-text.center.fb-color
        div.container-fluid
          h1 facebook.tracking.exposed
      div.container-fluid
        p.smile.center description 
          span.green 90% 
          | ⌁ infrastructure 
          span.red 20% 
          | ⌁ ß-release 
          span.green -11 days 
          | ⌁ morale 
          span.green 101% 
          | ⌁ stability 
          span.red BAH! 
          | ⌁ funding 
          span.red 
            a(href="https://paypal.me/claudioGifts", target="_blank") broke

    nav.navbar.navbar-default
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
            span(id="sr-only") Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.collapse.navbar-collapse(id="thenavbar")
          ul.nav.navbar-nav
            li
                a(href='/') Home
            li
              a(href='/#what') What
            li
              a(href='/#background') Background
            li
              a(href='/#useit') Use It
            li
              a(href='/#getinvolved') Get involved!
            li
              a(href='/#thanks') Thanks
            li
              a(href='/#links') Links 
            li
              a(href='/page-long-presentation') Slides
            li
              a(href='/team') Team

    div#what
      div.propaganda
        h2 What
        block what 

    div#background
      div.propaganda
        h2 Background
        block background

    div#useit
      div.propaganda
        h2 Use it
        block useit

    div#getinvolved
      div.propaganda
        h2 Get involved!
        block getinvolved

    div#thanks
      div.propaganda
        h2 Thanks
        block thanks

    div#links
      div.propaganda 
        h2 Links
        block links

    div.footer 
