doctype html
html
  head
    link(rel='stylesheet', href='../dist/css/index.css')
    title facebook.tracking.exposed
  body
  
    .header-fb-color
      h1.head-text facebook.tracking.exposed
      p.smile α-stage: concept 90% ⌁ infrastructure 10% ⌁ UX 10% ⌁ morale 100% ⌁ stability LOW

    ul.nav
      li:   a(href='#what')      what
      li:   a(href='#how')       use it
      li:   a(href='#vision')    vision
      li:   a(href='#moar')      know more
      li:   a(href='#contact')   contact

    div#what
      div.propaganda
        block what 

    div#how
      div.propaganda
        block how

    div#vision
      div.propaganda
        block vision

    div#moar
      div.propaganda 
        block moar

    div#contact
      div.propaganda
        block contact

    div.footer facebook.tracking.exposed is part of the tracking.exposed project 
      span.smaller still incomplete on summer 2016
      , is the continuation of 
      a(href='https://trackography.org') Trackography
      , but unfunded and on steroid
