doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/suggest.js')
    script(type='text/javascript', src='/js/lodash.min.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title facebook.tracking.exposed
  body
 
    div.jumbotron
      div.head-text.center.fb-color
        div.container-fluid
          h1 facebook.tracking.exposed
      div.container-fluid
        p.smile.center description 
          span.green 95% 
          | ⌁ infrastructure 
          span.red 15% 
          | ⌁ α-roadmap 
          span.red 1/4
          | ⌁ morale 
          span.green 100% 
          | ⌁ stability 
          span.yellow MEDIUM 
          | ⌁ funding 
          span.red broke

    nav.navbar.navbar-default
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#claudiosnavbar" aria-expanded="false")
            span(id="sr-only") Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.collapse.navbar-collapse(id="claudiosnavbar")
          ul.nav.navbar-nav
            li
              a(href='#what') What
            li
              a(href='#useit') Use It
            li
              a(href='#vision') Vision
            li
              a(href='#links') Links 
            li
              a(href='#about') About
            li
              a(href='#funding') Funding
            li
              a(href='#defense' target='_blank') Defense

    div#what
      div.propaganda
        h2 What
        block what 

    div#useit
      div.propaganda
        h2 Use It
        block useit

    div#vision
      div.propaganda
        h2 Vision
        block vision

    div#links
      div.propaganda 
        h2 Links
        block links

    div#about
      div.propaganda
        h2 About
        block about

    div#funding
      div.propaganda
        h2 Funding and fundraising
        block funding

    div.footer facebook.tracking.exposed is part of the tracking.exposed project, is the continuation of 
      a(href='https://trackography.org') Trackography
      |, on steroid
