doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/expander.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title facebook.tracking.exposed
  body
  
    .container-fluid.center.col-md-12.header-fb-color
      .head-text facebook.tracking.exposed
        span.green ↺
      p.smile α-stage: concept 85% ⌁ infrastructure 10% ⌁ UX 25% ⌁ morale 100% ⌁ stability MEDIUM

    div.container-fluid.center
      span.col-md-1
      span.nav.col-md-1 
        a(href='#what') What?
      span.nav.col-md-1
        a(href='#how') Use it!
      span.nav.col-md-1
        a(href='#vision') Vision
      span.nav.col-md-1
        a(href='#opendata') OpenData
      span.nav.col-md-1
        a(href='#background') background
      span.nav.col-md-1
        a(href='#moar') Related
      span.col-md-1
        span.green.head-text ↺
      span.nav.col-md-1
        a(class='suggest-label' href='#' onclick="redxplain()") tap ઉ
      span.nav.col-md-1
        a(href='/defenseLine' target='_blank') defense
      span.col-md-1

    div(id="redexplain")

    div.propaganda
      h3.note Note: 
        b This is an unreleased project still in development. 
        | If you have received this link it is because I know you personally. Please don't share the link yet because the current website is still incomplete. I'm looking forward to hear your feedback and suggestions. I'm sure that if you have this link it is because you can provide valuable insight on this issue! Thanks

    div.dynamic
      block splash

    div#what
      div.propaganda
        block what 

    div#how
      div.propaganda
        block how

    div#vision
      div.propaganda
        block vision

    div#moar
      div.propaganda 
        block moar

    div#background
      div.propaganda
        block background

    div.footer facebook.tracking.exposed is part of the tracking.exposed project, is the continuation of 
      a(href='https://trackography.org') Trackography
      |, on steroid
