extend skeleton

block splash

  div.left is used to say "you are in a bubble" when you are not seeing anything different from what you already can understand. For the most of us, we live with the same 40-80 peoples every days, the likelyhood that new ideas challenge us is limited. What follows, is a limited understanding of the world. we can call this phenomena:
    b echo chamber
    | what you hear, are thinks you already know.

  div.right Internet gave us the possibility to escape this filter bubble, but some companies start to offer us the service of perceiving the reality with updates. The challenge is new, is controller by algorithm, and we can call itt:
    b timeline manipulation
    | what you see, is what make you feel good enough to comeback in the platform.


  I'm measuring how facebook manipulate your perception of reality, and looks like this:

  (some stats)

