doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/bootstrap.min.js')
    script(type='text/javascript', src='/js/local/suggest.js')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="facebook tracking exposed")
    title facebook tracking exposed

  body
 
    div.jumbotron
      div.head-text.center.fb-color
        div.container-fluid
          h1 facebook.tracking.exposed
      div.container-fluid
        p.smile.center description 
          span.green 90% 
          | ⌁ infrastructure 
          span.red 20% 
          | ⌁ ß-release 
          span.green -11 days 
          | ⌁ morale 
          span.green 101% 
          | ⌁ stability 
          span.red BAH! 
          | ⌁ funding 
          span.red 
            a(href="https://paypal.me/claudioGifts", target="_blank") broke

    nav.navbar.navbar-default
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
            span(id="sr-only") Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.collapse.navbar-collapse(id="thenavbar")
          ul.nav.navbar-nav
            li
                a(href='/') Home
            li
              a(href='/#what') What
            li
              a(href='/#background') Background
            li
              a(href='/#useit') Use It
            li
              a(href='/#getinvolved') Get involved!
            li
              a(href='/#about') About
            li
              a(href='/#thanks') Thanks
            li
              a(href='/#links') Links 
            li
              a(href='/page-long-presentation') Slides
            li
              a(href='/team') Team

        div.team
            div
                div.propaganda
                div.row
                    div.col-xs-4.avatar
                        img(class="img-circle" src="images/team/claudioa.jpg")
                
                    div.col-xs-8
                        h2 Claudio Agosti
                        h3 director, founder
                        p  "IT security analyst turned in developer and now I like to say “into technopolitics."
                        div.span
                            a(href="https://twitter.com/_vecna" target="blank")
                                img(class="logo" src="images/team/twitter.png")

            div
                div.propaganda
                div.row
                    div.col-xs-4.avatar
                        img(class="img-circle" src="images/team/opensensorsdata.png")
                
                    div.col-xs-8
                        h2 OSD
                        h3 advisor
                        div.span
                            a(href="https://twitter.com/osd_it" target="blank")
                                img(class="logo" src="images/team/twitter.png")
                            a(href="https://github.com/opensensorsdata" target="blank")
                                img(class="logo" src="images/team/github.png" target="blank")
                                                
            div
                div.propaganda
                div.row
                    div.col-xs-4.avatar
                        img(class="img-circle" src="images/team/albertog.jpg")
                
                    div.col-xs-8
                        h2 Alberto Granzotto
                        h3 computer programmer
                        p  "I like computers, teh internets, privacy, and cats."
                        div.span
                            a(href="https://twitter.com/vrde" target="blank")
                                img(class="logo" src="images/team/twitter.png")
                            a(href="https://github.com/vrde" target="blank")
                                img(class="logo" src="images/team/github.png" target="blank")
        
            div
                div.propaganda
                div.row
                    div.col-xs-4.avatar
                        img(class="img-circle" src="images/team/gilbertoc.jpg")
                
                    div.col-xs-8
                        h2 Gilberto Conti 
                        h3 software developer
                        p  "Student of code and unicorns"
                        div.span
                            a(href="https://twitter.com/Gilberto_Conti" target="blank")
                                img(class="logo" src="images/team/twitter.png")
                            a(href="https://github.com/gibix" target="blank")
                                img(class="logo" src="images/team/github.png" target="blank")
                    
            
        div.footer 
