doctype html
html
    head

        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/collapse.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="facebook.tracking.exposed contacts, about us")
        meta(property="og:title" content="facebook.tracking.exposed contacts, about us")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://facebook.tracking.exposed")
        meta(property="og:image" content="https://facebook.tracking.exposed/images/fbtrex_logo-400x400.png")
        meta(property="og:image:width" content="400")
        meta(property="og:image:height" content="400")
        meta(property="og:description" content="The team intend to grow diverse and multicultural; If algorithms should reflect our priorities, every culture need at least someone looking forward to codify their values")

        title About facebook.tracking.exposed project

    body

        include header
        include navbar 

        div.mainstyle
            p The team below is volunteer based. The project is managed as a GPL free software community, part of a larger plan: 
                a(href="https://tracking.exposed") tracking-exposed
                |.

        div.mainstyle
            h2 Contacts:
            div.container
                div.topheader
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p The issue trackers: 
                            div < 
                                img.githublogo(src="/images/github-256.png")
                                a(href="https://github.com/tracking-exposed/web-extension/issues") browser extension
                                |, 
                                a(href="https://github.com/tracking-exposed/facebook/issues") backend
                                |  /> 
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p 
                            span.glyphicon.glyphicon-envelope
                            |  a kind e-mail
                        small change the [﹫・], they are not what they looks
                        p
                            b support﹫tracking・exposed
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p Our, sub-optimally used so far, Facebook page: 
                            a(href="https://www.facebook.com/personalizationalgorithm") Personalisation Algorithms

        div.mainstyle
            h2 Supporters who deserve mention in 2018:
            div.container
                div.topheader
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p DigitalFund
                        small successfully got our first small grant.
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p Dandelion, Spaziodati
                        small getting anonymized data and doing semanting analysis


        div.mainstyle
            h2 Coordinator, contributors, past and current 
            table.table.table-striped
                tbody
                    tr
                        td
                            a(href="https://twitter.com/_vecna" target="_blank") Claudio Agosti
                        td Giovanni Civardi (
                            a(href="https://twitter.com/@ciaby" target="_blank") ciaby
                            |)
                        td Costantino Carugno
                        td Raffaele Angus
                    tr
                        td 
                            a(href="https://twitter.com/vrde" target="_blank") Alberto Granzotto
                        td 
                            a(href="https://github.com/digitigrafo" target="_blank") Cristina Carnevali
                        td Federico Sarchi
                        td 
                            a(href="https://twitter.com/Gilberto_Conti" target="_blank") Gilberto Conti
                    tr
                        td Barbara Gianessi
                        td 
                            a(href="https://twitter.com/raimondian" target="_blank") Andrea Raimondi
                        td 
                            a(href="https://twitter.com/gmcmullen" target="_blank") Greg McMullen
                        td 
                            a(href="https://twitter.com/osd_it" target="_blank") OpenSensorsData
                        td 
                            a(href="https://github.com/joxer" target="_blank") Diego Luca Candido

        div.footer 
