doctype html
html
    head

        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')
        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="facebook.tracking.exposed contacts, about us")
        meta(property="og:title" content="facebook.tracking.exposed contacts, about us")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://facebook.tracking.exposed")
        meta(property="og:image" content="https://facebook.tracking.exposed/images/fbtrex_logo-400x400.png")
        meta(property="og:image:width" content="400")
        meta(property="og:image:height" content="400")
        meta(property="og:description" content="The team intend to grow diverse and multicultural; If algorithms should reflect our priorities, every culture need at least someone looking forward to codify their values")

        title About facebook.tracking.exposed project

    body


        div.mainstyle
            include navbar 
            p The team below is volunteer based. The project is managed as a GPL free software community, part of a larger plan: 
                a(href="https://tracking.exposed") tracking-exposed
                |.

        div.mainstyle
            h2 Contacts:
            table.table.table-striped
                tbody
                    tr
                        td
                            p Our Facebook page: 
                                a(href="https://www.facebook.com/personalizationalgorithm") Personalisation Algorithms
                        td
                            p Telegram bot: 
                                a(href="https://t.me/fbTREXupdates") fbTREX updates
                        td
                            p The issue trackers: 
                                div < 
                                    img.githublogo(src="/images/github-256.png")
                                    a(href="https://github.com/tracking-exposed/web-extension/issues") browser extension
                                    |, 
                                    a(href="https://github.com/tracking-exposed/facebook/issues") backend
                                    |  /> 
                    tr
                        td
                            p 
                                span.glyphicon.glyphicon-envelope
                                |  an e-mail
                            small change the [﹫・], they are not what they looks
                            p
                                b support﹫tracking・exposed
                        td
                            P Mattermost 
                                a(href="https://chat.securitywithoutborders.org/community/channels/trackingexposed") chat
                        td
                            p Twitter 
                                a(href="https://twitter.com/hashtag/fbTREX?src=hash") #fbTREX

        div.mainstyle
            h2 Sponsor, Partners and Prices
            div.container
                div.topheader
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p DigitalFund (2017)
                        small successfully got our first small grant.
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p Dandelion, Spaziodati
                        small semanting analysis engine
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p Data Transparency Lab 
                        small 2018 price and grant
                div.topheader
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p WebFoundation (2017)
                        small for the join research
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p DATACTIVE
                        small Academic frontend of fbTREX
                    div.col-xs-4.col-sm-4.col-md-4.col-lg-4
                        p Center Cultivation of Technology
                        small where you can 
                            b donate
                            |! ;)

        div.mainstyle
            h2 Who did this?
            table.table.table-striped
                tbody
                    tr
                        td
                            a(href="https://twitter.com/_vecna" target="_blank") Claudio Agosti
                            br
                            | director and project lead
                        td Umberto Boschi
                            br
                            | developer and project management
                        td 
                            a(href="https://twitter.com/@ciaby" target="_blank") Giovanni Civardi 
                            br
                            | sysadmin and first very sponsor ;)
                        td Costantino Carugno
                            br
                            | data analysis and advocate
                    tr
                        td Barbara Gianessi
                            br
                            | editing and various help
                        td Sophie Charleson
                            br
                            | editing and communication
                        td 
                            a(href="https://github.com/joxer" target="_blank") Diego Luca Candido
                            br
                            | SRE and monitoring
                        td Federico Sarchi
                            br
                            | data analysis and research
                    tr
                        td 
                            a(href="https://twitter.com/vrde" target="_blank") Alberto Granzotto
                            br
                            | web-extension developer
                        td 
                            a(href="https://github.com/digitigrafo" target="_blank") Cristina Carnevali
                            br
                            | frontend, community


        div.mainstyle
            h2 Past contributors which we can't forget
            table.table.table-striped
                tbody
                    tr
                        td 
                            a(href="https://twitter.com/raimondian" target="_blank") Andrea Raimondi
                            br
                            | project management and concept analysis
                        td 
                            a(href="https://twitter.com/gmcmullen" target="_blank") Greg McMullen
                            br
                            | privacy and legal assessment
                        td 
                            a(href="https://twitter.com/osd_it" target="_blank") OpenSensorsData
                            br
                            | project management, strategy
                        td 
                            a(href="https://twitter.com/@faffa42" target="_blank") Raffaele Angus
                            br
                            | researcher, italian elections analysis
                    tr
                        td 
                            a(href="https://twitter.com/Gilberto_Conti" target="_blank") Gilberto Conti
                            br
                            | development

        div.footer 
