doctype html
html
    head
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')

        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="facebook tracking exposed")
        title Ops? you probably have not opt-in yet

    body
    
    .container
        include navbar

        h3 Error! you should not be here and it is not your fault ;)
            br
        p this happen when you installed fbTREX extension for the 
            b first time
            |, don't worry, it is a known isse.

        h3
            br
            ol
                li Close your Facebook tab
                li re-open it, scroll a bit, and click again on 
                    i  Your Data 
                li You should open a page named "personal summary", accessible only to you, because your browser has the secret access code.
                li That page show you what you are collecting. To be sure the extension is working, this should appear on top of the post (in your NewsFeed)
                    .container.center
                        img(src="/images/recorded-post.png")
                    | or this, in regards of post not explicitly Public:
                    .container.center
                        img(src="/images/protected-post.png")
            br
        h2 It is not working yet?

        p Apologies for any inconveniences, if you don't mind, report your problem to us support﹫tracking・exposed
