doctype html
html
    head
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/index.css')

        script(type='text/javascript', src='/js/jquery.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="facebook tracking exposed")
        title Ops? you probably have not opt-in yet

    body
    
    .container
        include navbar

        h2 A small issue! no worries, you have just to:
        h3
            ol
                li Close your Facebook tab
                li re-open it, scroll a bit, and click again on 
                    i  Your Data
        p If you're interested in technicalities, at the first time you install the extensiion, it has not yet loaded the access token necessary to reach your data. That's why in the URL above you see 
            quote unset
            |. If you close and re-open facebook,  you should see 40 apparently random characters, which are your token.

        h2 Is not worked?
        p Sorry for that, if you don't mind, report your problem to us. You can get in touch with us in these ways:
        include contactus

