block useit
  h2 Use It!

  p Install the 
    a(target="_blank" href="https://chrome.google.com/webstore/detail/facebooktrackingexposed/fnknflppefckhjhecbfigfhlcbmcnmmi") chrome extension
    |, soon we'll provide the Firefox version.
  p
    a(target="_blank" href="https://chrome.google.com/webstore/detail/facebooktrackingexposed/fnknflppefckhjhecbfigfhlcbmcnmmi")    
        img(src="./images/chromeextension.png")
  p The collected data represent a publicly accessible knowledge you can download every week. We offer some basic visualisation intended to give awarness and critical judgement to the supporters:
    ul.fb--icon-list
      li Insight on your own timeline (so far, you can download your metadata)
      li Insight about the promotional content you are exposed
      li Analytics over the general behavior of the connected society
      li Analysis on how Personalisation Algorithm affects your reality perception
      li An Open API, so if you want create your own visualisation, you're welcome

