block useit
  h2 Status & Experimental ß version

  p The project is in transition phase. The entire system used in the α release result broken, this is how the collection is going now:

  .container-fluid
    img(src="/images/posttype-alpha.png")

  p when Facebook updated their HTML code structure, the client side extension for interpret the
    b post kind
    |, (if is promoted or feed) broken, making results everything as a promoted feed! Whatever, this is OK for the project in such experimental stage. The months in alpha release had reach enough successes:
  ul
    li A team has been created, and is what matter more.
    li Privacy problems has been discussed, creating a privacy model for the ß release.
    li A new technical approach, to collect facebook's impressions, has been developed, 
      b try the 
      a(href="https://chrome.google.com/webstore/detail/facebooktrackingexposed/kbeabbonbnjinbemmjgpdccmfnifokgc") experimental chrome extension
      |.
    li A new approach to develop distributed
      b parsers
      |.

  p A new release will be available soon, by the beginning of December 2016, check the code progress in the  
    a(href="https://github.com/tracking-exposed/facebook/tree/refactor-code") chrome extension development branch
    |.

  h3
    p.center And what's going to happen?
  div.container-fluid
    span.container-fluid.col-md-4.niceborder This is my 
      b
        a(href="/realitycheck/timelines/100005961541729") timeline graph
      |, you can use your own to look back at the posts and guess why the algorithm has behaved so.
      b 
        a(href="/realitycheck/activities/100013436260185") Independend activities stats.
    span.col-md-2
    span.container-fluid.col-md-4.niceborder By using the 
      b
        a(href="/realitymeter/" target="_blank") RealityMeter
      |, you can insert a post ID (which can be found in the URL of an individual post) and you will see how much and where that post appears in other users' feed. This can enable you to understand how much a post is promoted amongst different contributing users.
    
