block useit
  h2 (not) Use It now :(

  b(class="blue-fb") updates 15 of November: the software implementation is temporarly broken!
  p Installing the extension will not provide you any insight. A new release will be available soon, by the end of November 2016.

  p(class="blue-fb") Improvements: we will clarify
    b  which data are collected, how the data are analized and how the open data works. The extension will not be based on TamperMoney, rather would be a native Chrome/Firefox add-ons.

  p 1. Still, if you want join the supporters: Install 
    a(href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo") Tampermonkey for Chrome 
  p 2. Then, install the 
    b facebook.tracking.exposed script
    |, This has to be done when the point 1 is completed. Simply click 
    a(href="https://facebook.tracking.exposed/facebook.tracking.exposed.user.js") here
  .smaller If you want to know more, you are installing an 
    a(href="https://openuserjs.org/about/Userscript-Beginners-HOWTO") UserScript

  h3
    p.center Now what?
  div.container-fluid
    span.container-fluid.col-md-4.niceborder This is my 
      b
        a(href="/realitycheck/timelines/100005961541729") timeline graph
      |, you can use your own to look back at the posts and guess why the algorithm has behaved so.
      b 
        a(href="/realitycheck/activities/100013436260185") Independend activities stats.
    span.col-md-2
    span.container-fluid.col-md-4.niceborder By using the 
      b
        a(href="/realitymeter/" target="_blank") RealityMeter
      |, you can insert a post ID (which can be found in the URL of an individual post) and you will see how much and where that post appears in other users' feed. This can enable you to understand how much a post is promoted amongst different contributing users.
    
