/* added in the refactor for the ß */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), url(/js/local/WorkSans.ttf) format('truetype');
}

.realitycontainer {
    margin-left: 6%;
    margin-right: 6%;
    background-color: #F0FFFF;
    font-family: 'Work Sans', sans-serif;
}

.documentation {
    background-color: #FBFBEF;
    border-top: black 1px solid;
    border-left: black 1px solid;
}

.click {
    cursor: pointer;
}

.vizavail {
    font-family: 'Work Sans', sans-serif;
    background-color: #F0FFFF;
    font-size: 1.3em;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.prefix {
    padding-left: 10px;
    background-color: #EFFFD1;
    margin: 5px;
}

.feed {
    background-color: #C7FFCB;
    margin: 5px;
}

.unprocessed {
    background-color: darkgrey;
    color: white;
    margin: 5px;
}

#shiftContributionBlock {
    cursor: 'pointer';
}

.promoted {
    background-color: #FFEA75;
    margin: 5px;
}

.error {
    background-color: #310038;
    color: white;
    margin: 5px;
}

.num {
    width: 30px;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    background-color: white;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    display: inline-block;
}
