
.viz-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 10%;
}

.main {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 10% 40px;
    width: 80%;
}

.labels {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 40px 10% 0;
    width: 80%;
}

.container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 108px;
}

.timestamp, .legend-labels {
    height: 52px;
    text-align: center;
    width: 108px;
}

.timestamp p {
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.15;
    margin: 0;
}

.timeline {
    border: 1px solid white;
    border-radius: 3px;
    height: 20px;
    margin-bottom: 2px;
    position: relative;
    text-align: right;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 108px;
}

.post-order {
    margin: 0;
    position: absolute;
    left: -24px;
    top: -5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 20px;
}

.timeline div {
    text-align: center;
}

.post-time {
    font-size: 0.9em;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 108px;
    display: inline-block;
    margin: 2px;
    text-align: center;
}

.highlight {
    margin: red 2px solid;
}

#information {
    font-size: 1.7em;
}

