/* added in the refactor for the ß */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), url(/js/local/WorkSans.ttf) format('truetype');
}

.realitycontainer {
    margin-left: 6%;
    margin-right: 6%;
    background-color: #F0FFFF;
    font-family: 'Work Sans', sans-serif;
}

.headerborders {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: -20px;
}

.documentation {
    background-color: #FBFBEF;
    border-top: black 1px solid;
    border-left: black 1px solid;
}

.click {
    cursor: pointer;
}

.pageSection {
    font-family: 'Work Sans', sans-serif;
    background-color: #F0F0FF;
}

div, h3 {
    font-family: 'Work Sans', sans-serif;
}

.c3-texts-uniquePosts {
    font-size: 0.7em;
    font-weight: bold;
}

#dietGraph {
    width: 80%;
}

.text {
    border-left: 2em;
    border-right: 2em;
    font-size: 1.2em;
}

.right {
    text-align: right;
}


.prefix {
    padding-left: 10px;
    background-color: #EFFFD1;
    margin: 5px;
}

.feed {
    background-color: #C7FFCB;
    margin: 5px;
}

.unprocessed {
    background-color: darkgrey;
    color: white;
    margin: 5px;
}

#shiftContributionBlock {
    margin: 8px;
    cursor: 'pointer';
}

.promoted {
    background-color: #FFEA75;
    margin: 5px;
}

.error {
    background-color: #310038;
    color: white;
    margin: 5px;
}

.num {
    width: 30px;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    background-color: white;
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    display: inline-block;
}

.loader-container {
  border-right: 15%;
  border-left:15%;
  width: 100%;
  text-align: center;
}

.logo-background {
  -webkit-animation: spin 1.7s infinite linear;
  -moz-animation: spin 1.7s infinite linear;
  -o-animation: spin 1.7s infinite linear;
  -ms-animation: spin 1.7s infinite linear;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg);}
  100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg);}
  100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg);}
  100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg);}
  100% { -ms-transform: rotate(360deg);}
}
