.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

.rect {
    stroke: grey;
    fill: #fff;
}

svg {
    background-color: LightGoldenRodYellow;
}
