.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke-width: 1px;
    stroke: #000;
}

#infograph {
    font-family: 'EB Garamond', serif;
    text-size: 3em;
    margin: 0;
    padding-left: 10%;
}
#infograph b {
    text-size: 1.3em;
}

svg {
    /* background-color: LightGoldenRodYellow; */
    background-color: white;
}
