
/* added in the refactor for the ß */
.realitycontainer {
    margin-left: 6%;
    margin-right: 6%;
    background-color: lightyellow;
}

.vizavail {
    font-family: 'Arial';
    background-color: lightyellow;
    font-size: 1.3em;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 10px;
    margin-top: 10px;
}
