.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke-width: 1px;
    stroke: #000;
}

svg {
    /* background-color: LightGoldenRodYellow; */
    background-color: white;
}

.text {
    font-size: 1.4em;
}

.abitmore {
    font-size: 1.3em;
}

.entries {
    width:250px; /* or whatever width you want. */
    max-width:250px; /* or whatever width you want. */
    display: inline-block;
    border-bottom: black 1px dotted;
}

.reduced {
    font-size: 0.7em;
    font-weight: bold;
    color: darkblue;
}

.toppost {
    cursor: pointer;
    word-wrap: break-word;
}

.infoblock {
    border-bottom: #336335 1px dotted;
    margin: 10px;
    padding: 10px;
    background-color: lightcyan;
}

