block alberto
  div.teamblock
    div.col-md-6
      img(class="img-circle" src="images/albertog.jpg")
    div.col-md-6
      p(class="team-name") Alberto Granzotto
      p(class="team-role") computer programmer
      p(class="team-bio") I like computers, teh internets, privacy, and cats.
      p(class="team-twitter")
        a(href="https://twitter.com/vrde" target="blank") @vrde
      p(class="team-github")
        a(href="https://github.com/vrde" target="blank") vrde on Github

