block bic
    div.col-md-6
      img(class="img-circle" src="images/gilbertoc.jpg")
    div.col-md-6
      p(class="team-name") Gilberto Conti aka bicno
      p(class="team-role") Contributor
      p(class="team-bio") Student of code and unicorns
      p(class="team-twitter") 
        a(href="https://twitter.com/Gilberto_Conti" target="blank") @Gilberto Conti
      p(class="team-github") 
        a(href="https://github.com/gibix" target="blank") gibix on Github
