block claudio
    div.col-md-6
      img(class="img-circle" src="images/claudioa.jpg")
    div.col-md-6
      p(class="team-name") Claudio Agosti
      p(class="team-role") Director, Founder
      p(class="team-bio")
        a(href="https://en.expostmagazine.com/i-worked-at-hackingteam-my-emails-were-leaked-to-wikileaks-and-i-m-ok-with-that-f8f28b0584fe") IT security
        |,
        a(href="https://en.wikipedia.org/wiki/GlobaLeaks") developer
        |, but most important is keeping do experiments with the network.
      p(class="team-twitter") T 
        a(href="https://twitter.com/_vecna" target="_blank") @_vecna
      p(class="team-github") G 
        a(href="https://github.com/vecna" target="_blank") vecna
      p(class="team-pgp") claudio@tracking.exposed [https://keybase.io/vecna/key.asc]
