block kiki
  .team-member
    div.col-md-1
      img(class="img-circle" src="images/kiki.jpg")
    div.col-md-3
    div.col-md-4
      p(class="team-name") Kiki something?
      p(class="team-role") something
      p(class="team-twitter") TODO link?
      p(class="team-github") TODO link?
