block osd
  div.teamblock
    div.col-md-6
      img(class="img-circle" src="images/opensensorsdata.png")
    div.col-md-6
      p(class="team-name") OpenSensorData
      p(class="team-role") Advisor
      p(class="team-twitter") Company reference 
        a(href="https://twitter.com/osd_it" target="blank") @osd_it
      p(class="team-twitter")
        a(href="https://twitter.com/raimondian" target="blank") Andrea Raimondi
      p(class="team-twitter")
        a(href="https://twitter.com/lucacorsato" target="blank") Luca Corsato

