block osd
    div.col-md-6
      img(class="img-circle" src="images/opensensorsdata.png")
    div.col-md-6
      p(class="team-name") OSD
      p(class="team-role") Advisor
      p(class="team-twitter")
        a(href="https://twitter.com/osd_it" target="blank") @ost_id
      p(class="team-twitter")
        a(href="https://twitter.com/raimondian" target="blank") Andrea Raimondi
      p(class="team-twitter")
        a(href="https://twitter.com/lucacorsato" target="blank") Luca Corsato

