h1 V. Components

p The fundamental component is a tool which makes a copy of your timeline and later on compares it with people you know. This process of copying and comparing is the primary method needed to figure out how individual social media experiences show us different realities. 

p Browser extension - makes a copy of your data and submits it to the system through a server. We have a feasibility study for mobile in progress.

p The browser extension performs a copy of the HTML section and our technology in the backend extracts metadata out.
 
p within every HTML post we have (6 million in total) is all the information that has been selected for you by Facebook.. This is the best evidence for us and through this block of HTML text, metadata are extracted by our parsers.

p The parsers are small self-contained programs which analyze the data provided by the users and extract metadata from them. The metadata are the assets on top of which we can build our analysis and, the more parsers we have, the more metadata we can derive from the users’ contribution.


table
  tr
    td Post type
    td Sponsored or NewsFeed? The sponsored posts are the paid content Facebook uses to make money from advertising. They represent 10%-15% of the whole timeline. The algorithm impacts the NewsFeed.
  tr
    td Text
    td The statements shared by the author, or the preview text from a shared link.
  tr
    td Media type
    td This is the  knowledge of the media type, it can take three values at the moment (post, video, image)
  tr
    td Number of comments, likes, shares
    td Metrics declared by Facebook.
  tr
    td Links included
    td If one or more clickable links are shared, we have this as separate metadata. (Most of the news agencies only publish links, and then via open graph Facebook retireve a description and a picture).
  tr 
    td Post Id
    td Is an unique identifier from Facebook, from which it is possible to find the original post.
  tr 
    td Publication time
    td The date and time that the post has been published by the author.
  tr
    td Author
    td The name of the publisher.

p There are some metadata which are not extracted but attributed, such as language, and semantic analysis made with our partner Spaziodati. This uses Wikipedia as a semantic engine. It extracts only elements with a page in Wikipedia. To permit third-parties to collaborate, the communication with our infrastructure shall be regulated by documented interfaces (API). As of July 2018, more than 2000 people installed the tool despite our limited communication efforts. We didn't aim in the first phase to reach any large amount of users, because offering a proper UX is a hard task, and in the first phase of the project, getting some academic endorsement has helped provide credibility and solidity to the long term plan.



