h1 Executive Summary
p fbTREX is a tool to empower citizens facing the opaqueness of Automated Decision Making in their life. We address Facebook as the first platform, because the personal and social impact of News Feed algorithms is, in our opinion, one of the most significant violations of freedom of our time.

p It wants also explore the benefits of public owned datasets, collect forensically valid evidence to exert their rights, and works with the Academy, to educate people on algorithm influence. 

p Algorithms are supposed to help us in discerning and selecting meaningful content among the enormous amount of information available. Implicitly, an algorithm is a de facto delegate to prioritize content. This set of values, implemented in the algorithm, should be in the control of the user itself because no one but them knows what matters more. Empowering every user, letting them decide which algorithm to use, make them shareable, allowing them to be remixed; this is what we call "algorithm diversity." This is opposed to the algorithm hegemony currently imposed by platforms like Facebook. This goal is at the intersection of politics, technology, and freedoms and we should not consider it different from freedom of speech and choice. Algorithm diversity is the techno-political goal of this project.

p The mandate of fbTREX is to focus on technology and letting other partners be the domain experts in the social, political and governance issues fbTREX can be used to address.

p Targeted political advertising is an issue, and in 2018, we focused on this as one of our main use case. it is just one among many. Misinformation is another one, polarization and extremization of content, echo chambers, content moderation, algorithmic censorship, automated decision-making accountability; they are all symptoms of the current design of the platforms.

p We want to support research and projects that address these topics, with the strategic goal of reaching a wide variety of users, offering them alternative perspectives on how social networks should work, and how data could be treated in the interest of  society rather than to exploit it.



