VII. FUTURE DEVELOPMENTS
Each one of these points requires a separated description, but in summary:

(1) Visualizing the Information Diet: As a first step, fbTREX’s browser plugin will provide users with the ability to visualize the selection of what is being presented to them. This function will be improved over the grant period to evolve from simple analysis towards mining for more complex, semantic information. A key feature of this tool is that it allows users to obtain data on their Information Diet and to experiment with the parameters in order to better understand how Facebook’s algorithm works.

(1.1) Let users customize their visualisations. A visualization implies values, priorities and perspectives. We should let users experiment and share their way.
(1.2) Let users customize their algorithm. This is the most complex functionality, but it represents one of our end goals.

(2) Comparing the Information Diet: fbTREX will provide users with tools for comparing their timelines to that of others, based on mutual agreement. The goal is to involve and compare a diverse group of users across the globe.

(2.1) Advocate for this UX adoption, observe and verify if it can be used to address misinformation and/or missing other people’s viewpoints. 

(3) Enabling third-party researchers: The data mined by fbTREX will be anonymized and provided to selected third-party researchers, either individuals or collectives such as OpenHumans. They will be enabled to contextualize the findings, combine it with other data and complement it with social science research results. In order to protect user data, it is crucial for fbTREX to build trusted relationships and networks with researchers.

(3.1) Develop a framework for ethical data-reuse, use this process to promote literacy on algorithm transparency and accountability. Display the potential of a dataset collected in the public interest, which allows people to understand phenomena but protects individuals.
