include hdrnavbar
.polite-propaganda

    p fbTREX is the first project part of the 
        a(href="https://tracking.exposed") TRex
        |  umbrella, it started in Summer 2016 as concept, December 2016 the working prototype and here you can find the project status and vision updated to December 2018. It is Free Software project, get out our github repos: 
        a(href="https://github.com/tracking-exposed/web-extension") browser extension
        |, 
        a(href="https://github.com/tracking-exposed/facebook") backend
        |.

    h3 
    ul.fb--icon-list
        li
            a(href='/project/glossary') Glossary
            |  explaining fourteen terms often used in the project plan
        li 
            a(href="https://github.com/tracking-exposed/presentation/raw/master/fbTREX%20-%20project%20status%20and%20analysis%20-%20December%202018.pdf") Project vision and status
            |  (.pdf format, 15 pages) winter 2018; 
            smaller It is the same content you can get by following the links below.
        li
            a(href='/project/summaries') Executive summary, Executive problem, Executive solution
            |  4 minutes reading time
        li
            a(href='/project/problem') The problem
            |  8 minutes reading time
        li
            a(href='/project/solution') Our solution
            |  5 minutes reading time
        li
            a(href='/project/details') Ethos, components, and details
            |  6 minutes reading time

    h2 Acknowledgements

    p Project status and vision is the first medium size document which explain what fbTREX is. In the first phase was an hacker tool, then become a researcher tool validated by academic achievements, and now want to become an empoweing tool to lead a cultural shift.
    p A bunch of persons dedicated their free time reading, guessing and questioning the document. Was not simple, as first because I write in a contorted way, as second, because the topic mixes criticism in technology, techno-politics, and an experperiment for social empowerment in the digital age.
    p The most crucial editing phase was lead by 
        a(href="https://arikia.com") Arikia Millikan
        |, which took a quite confused document and transformed to the current shape.
    p Other significant contribution comes from 
        b Barbara Gianessi
        |, 
        b Beatrice Cavicchioli
        |, 
        b Giovanni Civardi
        |, and 
        b Sophie Charleson
        |. With their valuable insights, patience, and questioning, they helped a lot the development of this document, challenging the assumptions and producing a smooth exposure even in the most complicated parts. Sophie also authored the 
        a(href="/project/glossary") Glossary
        |.

    p The 
        a(href="https://trackin.expoded") TRex project
        |  is an unknown path in which nobody can walk alone. We deal against one of the hidden phenomena of our time, pushed by our ethics and political beliefs. You trusted this project with your time and attention. To the editing group, the 
        a(href="/about") team
        |, and the code 
        a(href="https://github.com/tracking-exposed/facebook/graphs/contributors") contributors
        |  go the commitment to shapeing the community and the project together.

