include hdrnavbar
.polite-propaganda

    p fbTREX is the first project part of the 
        a(href="https://tracking.exposed") TRex
        |  umbrella, it started in Summer 2016 as concept, December 2016 the working prototype and here you can find the project status and vision updated to December 2018. It is Free Software project, get out our github repos: 
        a(href="https://github.com/tracking-exposed/web-extension") browser extension
        |, 
        a(href="https://github.com/tracking-exposed/facebook") backend
        |.

    h3 
    ul.fb--icon-list
        li
            a(href='/project/glossary') Glossary
            |  explaining fourteen terms often used in the project plan
        li 
            a(href="https://github.com/tracking-exposed/presentation/raw/master/fbTREX%20-%20project%20status%20and%20analysis%20-%20December%202018.pdf") Project vision and status
            |  (.pdf format, 15 pages) winter 2018; 
            smaller It is the same content you can get by following the links below (15 pages).
        li
            a(href='/project/summaries') Executive summary, Executive problem, Executive solution
            |  4 minutes reading time
        li
            a(href='/project/problem') The problem
            |  8 minutes reading time
        li
            a(href='/project/solution') Our solution
            |  5 minutes reading time
        li
            a(href='/project/details') Ethos, components, and details
            |  6 minutes reading time

    h2 Acknowledgements

    p Project status and vision is the first medium size document which explain what fbTREX is. In the first phase was an hacker tool, then become a researcher tool validated by academic achievements, and now want to become an empoweing tool to lead a cultural shift.
    p A bunch of persons dedicated their free time reading, guessing and questioning the document. Was not simple, as first because I write in a contorted way, as second, because the topic mixes criticism in technology, techno-politics, and an experperiment for social empowerment in the digital age.
    p The most crucial editing phase was lead by 
        b 
            a(href="https://arikia.com") Arikia Millikan
        |, which took a quite confused document and transformed to the current shape.
    p Other significant contribution comes from 
        b Barbara Gianessi
        |, 
        b Beatrice Cavicchioli
        |, 
        b Giovanni Civardi
        |, and 
        b Sophie Charleson
        |. With their valuable insights, patience, and questioning, they helped a lot the development of this document, challenging the assumptions and producing a smooth exposure even in the most complicated parts. Sophie also authored the 
        a(href="/project/glossary") Glossary
        |.

    p The 
        a(href="https://trackin.expoded") TRex project
        |  is an unknown path in which nobody can walk alone. We deal against one of the hidden phenomena of our time, pushed by our ethics and political beliefs. You trusted this project with your time and attention. To the editing group, the 
        a(href="/about") team
        |, and the code 
        a(href="https://github.com/tracking-exposed/facebook/graphs/contributors") contributors
        |  go the commitment to shapeing the community and the project together.


    h3(style="border-top:black 1px solid") As historical reference, the project description by July 2017

    h2 What is the problem?

    ul.fb--icon-list 
        li The ways in which FB selects information to be presented to individual users are not well understood.
        li Algorithms are like social policies; they should be available for public scrutiny
        li Users has been used as lab rats in psychological and social experiments.
        li Among all the algorithms crossing our life, Facebook's coordinate how people perceive the reality; besides the enormous audience, it is personalized, making it even harder to scrutiny.
        li How the data are treated, assimilated, analyzed, used and re-purposed is not said by Facebook Data Policy.
        li Facebook claims  
            a(href="https://psychcentral.com/blog/archives/2017/05/02/even-facebook-doesnt-understand-facebooks-algorithms/") the complexity of the algorithm is so huge no engineer can understand or explain the internals
            |, making the algorithm the perfect technocratic scapegoat

    h2 What are the goals
    p Overall
    ul.fb--icon-list
        li To observe, evaluate, and better understand Facebook algorithm, in particular how FB leverages and profits from promoted content.
        li To develop awareness on how Facebook operate the business of promoted contents.
        li To enable researchers from non-technical fields to analyze the social media.
    p For users of FB
    ul.fb--icon-list
        li To enable better understanding of the critical issues and their implications.
        li To raise awareness around the concept of “algorithm diversity” or “the right to pick your algorithm.”
        li To provide users with a persistent record of their timeline.
    p For research
    ul.fb--icon-list
        li To serve as a neutral actor, reliably providing research-quality data for analysis.
        li To engage diverse research audiences to utilize the data, prioritizing and encouraging interdisciplinary approaches.
    p For FB
    ul.fb--icon-list
        li Over the long term, get FB to give users greater transparency and greater agency over how they experience the algorithm.
        li To encourage FB to publish more open data describing the social phenomena happening in the social media.

    h2 How we intend to work toward the goals
    ul.fb--icon-list
        li Overall, the approach is based on broadly distributed collection of individual user experiences with FB feeds from their respective observation points, utilizing a networks of volunteers and bots
        li Using a web-extension, we will collect data on what each user sees on their public timeline.
        li Extract the metadata from the data submitted, and make this dataset available to researchers.
        li Produce visualizations and other renderings of how different users experience the FB algorithm.
        li Use research findings to inform both advocacy and user education.

    h2 What needs to be done next? 
    p Overall, we are open to advice, partnership, and collaboration with all interested parties.
    p Our roadmap includes the following milestones:
    p
        b Improve the software
    ul.fb--icon-list
        li Improve the code of the parsers. They are self-contained, small components that extract metadata from the posts seen from the user.

    p
        b Establish community processes
    ul.fb--icon-list
        li Write a visually and formally clear data policy, explain the life-cycle of the data and where third party and users interact with us in an exemplary way.
    p
        b Write an ethical agreement to
    ul.fb--icon-list
        li permit the third party accessing the database of collected observations, in order to protect the supporters against social media intelligence; 
        li the third party shall not sell, monetize, publish, reuse or analyze and copy outside the scope of the agreed analysis. 
        li As safeguards, the algorithms runs on the database are declared and formalized, we execute the script, providing an API for the owner.
    p
        b Engage and support researchers
    ul.fb--icon-list
        li Provide support for research organizations as early adopters.
        li Presentation, Advocacy, finding collaborators, keep doing 
            a(href="https://facebook.tracking.exposed/initiatives") public appearance
            |.
