include hdrnavbar
.polite-propaganda

    h1 Mandate/Solutions

    p The mission of fbTREX is to raise a general criticism of Facebook’s current data exploitation model and to visualize and permit a collective judgment on the responsibilities of the current information trainwreck.
    p Algorithms, experiments with social dynamics, targeted propaganda, lack of accuracy, and content moderation: they are all just symptoms of a social network’s business model.

    p As algorithms define what our priorities are, they should be recognized as an extension of our will. We must be able to consciously build our own algorithms, change them whenever we want, and not have to delegate this decision to a commercial entity with opaque functioning and objectives.

    p This is the goal of facebook.tracking.exposed, a goal that can only be achieved through education, study and awareness. We recognize that not everyone possesses the knowledge and skills to design their own algorithms, and therefore there is the need to create a support community, where algorithms can be shared, compared, improved and criticized. The algorithm is power; it can be a harmful cage or a helpful filter. Only autonomous and informed individuals can decide what is most appropriate for them at a given time.

    p With a personal copy you can try to simulate and explain what Facebook does in terms of content curation, expose their logic, educate users on the kind of controls they can demand. Eventually, it could  push for a stronger  corporate transparency in regards of automated decision making. .

    p fbTREX belongs to a more significant project, which is tracking.exposed (TREX).
    TREX is an umbrella for other projects which share the same philosophy and technical infrastructure. 

    p When we realize an analysis specific for Italy, during the Italian national elections, we built https://elezioni.tracking.exposed to coordinate the test and to publish the conclusive results. A self-contained, time-limited, language dependent is what we refer as declination.
    p This term would be recurring because TREX offers technological support for political and digital activism. The effort of a campaign and contextualize is what we call declination, and usually this takes a dedicated subdomain under tracking.exposed, with a dedicated website, advocacy, and reference person. Anyone who lives in a context where Facebook might exploit the public discourse, fbTREX could be declined by your team.

    p 
      b We anticipate early adopters
      |: We predict four target user groups will find the data especially relevant: analysts, activists, advocates, and journalists.

    p Monetization is not the primary goal, sustainability is. In this primary phase, donations, project-based grants and crowd-funding are the model considered. Users profiling must never be considered, it is the opposite of what 
      a(href="https://tracking.exposed") we do
      |.
     
    p
      b fbTREX is an infrastructure, to process collected data from our personal social media experiences.
    As we realized at the beginning, we have to explore different use cases to display the potential of this infrastructure. In the first years our research has proven the validity of the model, and thanks to such achievements, it has been possible to establish new collaborations. The current strategy and vision are outlined in this paper.
     
    p Considering the current impact of Social Media on society and the life of the individual, we expect to find diverse ways of reusing this data and our findings. We do not have the mandate to deliver one, specific, feature here described. Permitting all of them is the goal, because it could create a robust infrastructure which can support others experiments and interventions in the future that could naturally emerge from the ethical and technological framework of the tracking-exposed projects.
     
    p Those who write the UX and the assessment logic would implicitly impose their agenda, their frame. This project governance aims to let users experiment with the framework and infrastructure. letting other experiment themselves. This task is complete when:
    A stable information diet visualization (IDV) is provided by fbTREX
    An API is implemented in fbTREX to permit a developer to run their own analysis in their IDV, and to implement their own new visualization.
    Any user can import/run/adopt the IDV implemented by anybody else.

    p Considering we have no power of influence on the Facebook roadmap, at least, with fbTREX we can record what is otherwise ephemeral, and these pieces of evidence can be used to hold Facebook AI accountable.
     
    p Our approach fosters new narratives, tools and methodologies that can offer alternative viewpoints on the relationship between society and social media. We will offer products, such as the use-cases described in this document, but rather than a defined set of functionalities, our goal is enable communities to enforce, experiment with and apply their own data policies. That is the main reason why we need an open source community in support of the project.
     
    p The principal strong point of a distributed network, or an open source community such as the one we want to build, is the ability to follow up on very peculiar needs when a worldwide product could lose their ability to change, in exchanged of a standardized design.

    p fbTREX looks for existing political conflicts and offers to be the technical supporter for investigating the role of Facebook in those contexts. 
    We do not want to impose our metrics, or our judgment, on what is a suitable algorithm, but we do want to work openly to let others experiment and decide how algorithms could behave..

    p Letting users define their own set of values, naming, visualization is something permitted by the GPL license and it is at the core of much of the free software community. Inspired by the Collective Code Construction Contract we aim to build the global community we need. It is our strategy to get enough diverse contributors and raise criticisms on the current algorithm monopoly.

    h2 Development strategy in the short term
    p To enlarge the user base:
      ul
        li Address misinformation issues: visualize the Information Diet and build tools for more tech-savvy people at the beginning, and improving the UX over time until we get a version that can be used by more general users.
        li Cover different contexts where content moderation and algorithm filtering might represent a political issue: not just elections, but other conflicts area too.
        li Display as much as possible the impact of personalization algorithms and improve knowledge and understanding about it.

    p To affirm fbTREX as a valid forensic evidence collector:
      ul
        li Identify target users subject to particular rights.
        li Use the evidence collected to criticize Facebook’s content moderation, and/or to raise legitimate questions about the NewsFeed algorithm.

    p To educate on ethical data usage and to enlarge our impact:
      ul 
        li Collaborate with other research groups and partners. 
        li Offer a clear and transparent opt-in on our data processing and our procedures.
        li Strengthen our position as technical supporters for local and global politically motivated activism.

    h2 Sustainability
    p In July 2018, we got confirmation from the European Research Council that our 12 month development plan has been funded in a joint project with the University of Amsterdam. We are looking for partnership and funds complementary with this project plan; The actual project started on December 2018.
