.optionalBlock#candymetaphorBlock

    .col-md-2 You know how a diet has to be balanced
        small In the information age, you are what you are exposed at!
    .col-md-2 Facebook decides for you what you are going to absorbe
        small Something because you are experiment, sometime because of their politics
    .col-md-2 what if you are only eating candies?
        small Only you can judge if what you are getting is the best of you!

