h4 Download 
    b
        a(class="click" onclick="downloadCSV('feed')") All the feed posts sent by your user, without the HTML, with all the metadata associated
h4 Download 
    b
        a(class="click" onclick="downloadCSV('promoted')") All the promoted posts you saw

br
br
div.documentation
    h3 CSV documentation
div.documentation
    h4 Keys shared among all the CSV:
    p
        ul
            li savingTime: ISO format, is the time when the HTML entities has been saved
            li id: is an unique identified of the HTML piace analyzed
            li type: 'promoted' or 'feed', based on what you downloaded
            li timelineId: is the timeline in which the HTML is appear. when the user refresh, the timeline change
            li userId: the numeric facebook userId 
    h3 Keys only in the Feed CSV:
    p
        ul
            li publicationUTime: ISO format, describe when the post has been published
            li postId: An integer representing the unique facebook Id of the post
            li permaLink: The URI section which brins you to the post if used in facebook.com
            li impressionOrder: the numeric order of the post, starting from 1 (in top of the feed)
            li source: name display as source of the post
            li text: text of the post
            li reason: special optional header facebook put on top (it could explain why a post is appearing in your timeline)
    h3 Keys only in the Promoted CSV:
    p
        ul
            li title: The promoted headline
            li postLink: Where the links point, if you click on the campaign
            li linkType: The kind of media embedded
            li ownerName: Name of the promoted page

