.container-fluid
    div.container-fluid
        p.text This page is for 
            b data analyst
            |! These are the data you submit in the last 30 days, (
            span#objectCount
            |), you can download in .csv format; If you want to download data from more time ago, check the documentation below.

    div.container-fluid
        h2 Newsfeed content
        #newsFeedStats

    div.container-fluid

        div.col-sm-6.container-fluid
            div.documentation
                h4 CSV format description
                ul.fb--icon-list
                    li savingTime: ISO format, is the time when the HTML entities has been saved
                    li id: is an unique identified of the HTML piace analyzed
                    li type: 'promoted' or 'feed', based on what you downloaded
                    li timelineId: is the timeline in which the HTML is appear. when the user refresh, the timeline change
                    li userId: the numeric facebook userId 

        div.col-sm-6.container-fluid
            p.text
                a(class="click" onclick="downloadCSV('feed')") Download copy of the newsfeed (CSV)
                |.
            div.documentation
                h4 "Newsfeed" CSV format has additionally these seven columns
                ul.fb--icon-list
                    li publicationUTime: ISO format, describe when the post has been published
                    li postId: An integer representing the unique facebook Id of the post
                    li permaLink: The URI section which brins you to the post if used in facebook.com
                    li impressionOrder: the numeric order of the post, starting from 1 (in top of the feed)
                    li source: name display as source of the post
                    li text: text of the post
                    li reason: special optional header facebook put on top (it could explain why a post is appearing in your timeline)

    div.container-fluid
        h2 Sponsored content
        #sponsoredStats

        div.col-sm-6.container-fluid
            p.text
                a(class="click" onclick="downloadCSV('promoted')") Download the sponsored posts who targeted you (CSV)
                |.
            div.documentation
                h4 "Sponsored" CSV format has additionaly these four columns
                ul.fb--icon-list
                    li title: The promoted headline
                    li postLink: Where the links point, if you click on the campaign
                    li linkType: The kind of media embedded
                    li ownerName: Name of the promoted page

        div.col-sm-6.container-fluid
            h2 Want to manage a comparative research?
            p.text You might have noticed, in the web-extension, you can mark your submission as part of a 
                i control group
                |. That marker permits to a researcher to download in JSON 
                b all the data of the users with the same marker
                |. Our suggestion is to use this marker not easy to be guessed (let's say, 
                span.ours ctrlGroupName_0fh3s034hp
                |), which you can share among the participants in the collection. When they want, they can retrieve their data with:
            div.api
                h4 facebook.tracking.exposed/api/v1/research/data/l:ctrlGroupName_0fh3s034hp
            p.text Or you can get stats on how the collection is doing with this API:
            div.api
                h4 facebook.tracking.exposed/api/v1/research/stats/l:ctrlGroupName_0fh3s034hp

