div.container
    div.topheader
        div.col-sm-5.right
            span Here's are the data you submit
                br
                | This is a work in progress, check our 
                a(href="/roadmap")
                    b roadmap
                |  to know more.

        div.col-sm-2.center
            img.fbtrexlogo(alt="logo of fbtrex" src="/images/fbtrex_logo.svg")

        div.col-sm-5
            p
                span.blue facebook
                |.
                span.orange tracking
                |.
                span.green exposed
