block header
  
  div.container
    div.topheader
      div.col-xs-8.col-sm-8.col-md-8.col-lg-8
        span < 
          img.githublogo(src="/images/github-256.png")
          a(href="https://github.com/tracking-exposed/web-extension") browser extension
          |, 
          a(href="https://github.com/tracking-exposed/facebook") backend
          |  /> 

      div.col-xs-1.col-sm-1.col-md-1.col-lg-1.pull-left.logocontainer
        img.fbtrexlogo(alt="logo of fbtrex" src="/images/fbtrex_logo.svg")

      div.col-xs-8.col-sm-8.col-md-8.col-lg-8
        p.title   
          span.blue facebook
          |.
          span.orange tracking
          |.
          span.green exposed
