div.container
    div.topheader
        div.col-sm-5.right
            span(style='font-size:1.2em') This link 
                b is secret
                |, don't share it!

        div.col-sm-2.center
            img.fbtrexlogo(alt="logo of fbtrex" src="/images/fbtrex_logo.svg")

        div.col-sm-5
            p
                span.blue facebook
                |.
                span.orange tracking
                |.
                span.green exposed
