
.container-fluid
    h3 Welcome to: 
        i a long and complex wall of text!
    
    p.text TL;DR: Thank you! this is the beginning of a 
        a(href="https://tracking.exposed") journey
        |.

    p.text Participating in this collaborative experiment permits to see how the information flows inside Facebook. Considering Facebook as one of the places where information worldwide flows into, and it is entirely obscure, you are helping the society to understand itself (well, at least, this is what we want to belive. Then, the project has to be collaborative and find partners).

    h3 What in 2018?
    p.text This page explains what we have in progress, and the initiatives pages what we did so far.

      a(href="https://www.facebook.com/personalizationalgorithm") facebook page
      |, or open a 
      a(href="https://github.com/tracking-exposed/facebook") github issue
      |  or drop an email to support﹫tracking・exposed

