nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="/") fbTREX
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='specs') API Specifications
      li.nav-item
        a.nav-link(href='gdpr') Control your data 
      li.nav-item
        a.nav-link(href='summary') Summary
      li.nav-item
        a.nav-link(href='stats') Statistics
