.optionalBlock#repetitionInfoBlock

    p the most arbitrary decision of Facebook is display a post more than once, despite, most of the time, new updates are available. This lead stunning personal surprises or to unjustifiable political side-effects. 

