body {
    font-family: 'EB Garamond', serif;
    margin: 0;
}

.intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 80px 10% 0;
}

.intro-copy {
    width: 44%;
}

.intro-copy p {
    font-size: 1.2em;
    margin-bottom: 18px;
    padding-right: 10px;
}

.intro-copy p:last-child {
    margin-top: 6px;
}

.intro-link {
    position: relative;
    text-decoration: none;
}

.intro-link:visited, .intro-link:focus {
    color: black;
}

.intro-link::before {
    border-bottom: 1px dashed #414141;
    bottom: 1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.intro-link::after {
    background-color: black;
    bottom: 1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
}

.intro-link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.intro-input {
    width: 36%;
}

.intro-input div:first-child {
    margin-top: 210px;
}

.intro-input input {
    border: none;
    border-bottom: 1px dashed #414141;
    display: block;
    font-family: inherit;
    font-size: 0.9em;
    margin-bottom: 20px;
    width: 272px;
}

.input-container {
    position: relative;
}

.input-container::after {
    background-color: black;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 274px;
}

.focussed::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.intro-input button {
    background-color: transparent;
    border: 1px solid #9563db;
    border-radius: 2px;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.9em;
    height: 28px;
    letter-spacing: 1.1px;
    margin-top: 18px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 272px;
}

.intro-input button::before {
    background-color: #9563db;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 270px;
    z-index: -1;
}

.intro-input button:hover {
    color: white;
}

.intro-input button:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.viz-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 10%;
}

.legend-box {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 50%;
}

.legend-title {
    margin: 36px 0 10px;
}

.legend {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 18px 22% 0 0;
}

.legend-labels p {
    margin-top: 3px;
}

.toggle-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 36px;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 50%;
}

.toggle-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 62%;
    width: 38%;
}

.toggle-slider>div {
    border-radius: 11px;
    box-shadow: inset 0 0 1.75px black;
    cursor: pointer;
    height: 22px;
    margin-right: 8px;
    width: 36px;
}

.toggle-btn {
    background-color: #ced7db;
    border: 1px solid #414141;
    border-radius: 10px;
    box-shadow: 0 0 1px #414141;
    height: 20px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    width: 20px;
}

.on .toggle-btn {
    background-color: #9563db;
    -webkit-transform: translateX(16px);
    transform: translateX(16px);
}

.toggle-label {
    margin: 0;
}

.main {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 10% 40px;
    width: 80%;
}

.labels {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 40px 10% 0;
    width: 80%;
}

.container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 108px;
}

.timestamp, .legend-labels {
    height: 52px;
    text-align: center;
    width: 108px;
}

.timestamp p {
    font-size: 1.05em;
    font-weight: bold;
    line-height: 1.15;
    margin: 0;
}

.timeline {
    border: 1px solid white;
    border-radius: 3px;
    height: 20px;
    margin-bottom: 2px;
    position: relative;
    text-align: right;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 108px;
}

.post-order {
    margin: 0;
    opacity: 0;
    position: absolute;
    left: -24px;
    top: -5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 20px;
}

.on .post-order {
    opacity: 1;
}

.timeline div {
    text-align: center;
}

.post-time {
    font-size: 0.9em;
    margin: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.on .post-time {
    opacity: 1;
}

.fade {
    opacity: 0.3;
}

.highlight {
    border-color: black;
}

.highlight p {
    opacity: 1;
}

.showed {
    opacity: 1;
}
