
*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Work Sans'

.left
  text-align left

.right
  text-align right

img
  max-width 100%
  max-height 100%

p
  font-size 1.3em

.center
  text-align center

p
  font-size 1.3em

.theinputfield
  width 70%
  font-size 1.4em

.buttonfield
  width 10%

.jumbotronwidth
  max-width 50%

.jumbotron
  background-color white

.monospace
  font-family 'Source Code Pro', monospace
  margin 0

.mainstyle
  padding-right 10%
  padding-left 10%
  padding-bottom 2%


  h2
    border-left #3c5a99 0.01em solid
    padding-left 0.1em

.polite-propaganda
  padding-right 10% 
  padding-left 10%

  h2
    border-left #3c5a99 0.01em solid
    padding-left 0.1em

.simpletext
  padding-right 10%
  padding-left 10%
  padding-bottom 1%

.smaller
  font-weight bold
  font-size 0.75em
  color darkgrey

.link
  padding 3px
  font-size 0.9em

.right-link
  border-right 8%
  text-align right
  background #E8FFC2
  color #3b59999
  a
    color #3b59999

.left-link
  text-align left
  border-left 8%
  background #DCEFE8

.larger-content
  margin 30px auto

.main-content
  margin 50px auto
  max-width 600px
  p
    line-height 1.6

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0
  p
    color #444
    font-size 12px

.long
  font-size 0.8em

.big
  padding-top 5%
  font-size 3em

.white
  color white

.blue
  color #3c5a99

.orange
  color #fd5308

.green
  color #66b032

.italic
  font-style italic

.examplelist
  margin-left 10%
  margin-right 10%
  p
    size: 1.3em
  a
    color darkblue
  a:hover
    color red
    font-style normal

.exampleentry
  background-color paleyellow
  padding 5%
  width 100%


/* unordered list */
.fb--icon-list
  list-style-image url("/images/fbtrex16.png")
  font-size 1.3em

.inclusive
  border-top #fd5308 4px solid
  border-left #3c5a99 4px solid
  border-right #66b032 4px solid
  padding-left 20px
  padding-right 20px
  text-align justify

@font-face
  font-family 'Work Sans'
  font-style normal
  font-weight 400
  src local('Work Sans'), url(/js/local/WorkSans.ttf) format('truetype');

  /*header*/

.githublogo{
    width:20px;
    height:auto;
}
.fbtrexlogo{
    border: solid 1px #ccc;
    border-radius: 10%;
    padding: 1em;
    width: 5em;
    background-color: lightyellow;
}
.topheader {
    margin: 2% 0;
}
.icontext{
    text-align:center;
}
.icon{
    width:70px;
    margin:0 50%;
    -webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);
}
.propaganda {
    padding-bottom: 2%;
    border-bottom: solid #3c5a99 1px;
    margin: 2em 0;
}
#vision, #mission {
    margin: 2em 0;
}

.fb--icon-list > li {
    margin-left: 7%;
    line-height: 2em;
}

