.paragraph
  font-size 1.5em
  text-align justify
  padding 5px

.highlight
  padding-right 10% 
  background-color #3c5a99
  color white
  font-weight bold
  margin-right 3%

  padding-left 10%
  margin-left 3%
  
  font-size 1.8em
  text-align justify

  padding-top 20px
  padding-bottom 20px

.block
  padding-right 5% 
  border-right #fd5308 2em solid
  margin-right 3%

  padding-left 5%
  border-left #66b032 2em solid
  margin-left 3%
